---
title: Shipyard Buttons
---

{% include page-heading.html page=page %}

<hr />

<h2>Button Types</h2>
<div class="box-padding align-center">
  {% btn Default %}
  {% btn Primary, :primary %}
  {% btn Secondary, :secondary %}
  {% btn Disabled, :disabled %}
  {% btn CTA, :cta %}
  {% btn Caution, :caution %}
</div>
<div class="box-secondary box-padding align-center bg-gray-dark">
  {% btn Inverse, :inverse %}
  {% btn Inverse, :inverse_secondary, class: 'margin-left-xs' %}
</div>

<hr />

<div class="box-padding align-center">
  {% btn Button %}
  <a href="#" class="btn">Link</a>
  <input type="button" class="btn" value="Input" />
</div>

<hr />

<h2>Button Sizes (default: md)</h2>
<div class="box-padding align-center">
  {% btn XX-Small, :xxs %}
  {% btn X-Small, :xs %}
  {% btn Small, :sm %}
  {% btn Medium, :md %}
  {% btn Large, :lg %}
  {% btn X-Large, :xl %}
</div>

<h2>XX-Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  {% btn All Screens, :xxs %}
  {% btn Tablets, :x1_xxs %}
  {% btn Laptops, :x2_xxs %}
  {% btn Wide Screens, :x3_xxs %}
  {% btn Giant Screens, :x4_xxs %}
</div>

<h2>X-Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  {% btn All Screens, :xs %}
  {% btn Tablets, :x1_xs %}
  {% btn Laptops, :x2_xs %}
  {% btn Wide Screens, :x3_xs %}
  {% btn Giant Screens, :x4_xs %}
</div>

<h2>Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  {% btn All Screens, :sm %}
  {% btn Tablets, :x1_sm %}
  {% btn Laptops, :x2_sm %}
  {% btn Wide Screens, :x3_sm %}
  {% btn Giant Screens, :x4_sm %}
</div>

<h2>Medium, Responsive Buttons (Default Size)</h2>
<div class="box-padding align-center">
  {% btn All Screens %}
  {% btn Tablets, :sm :x1_md %}
  {% btn Laptops, :sm :x2_md %}
  {% btn Wide Screens, :sm :x3_md %}
  {% btn Giant Screens, :sm :x4_md %}
</div>
