---
title: Shipyard Forms
---

{% include page-heading.html page=page %}

<hr />

<div class="input-group">
  <label class="label">Textbox</label>
  <input type="text" class="input input-text" placeholder=".input-text" />
</div>
<div class="input-group">
  <label class="label">Textbox</label>
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>
<div class="input-group">
  <label class="label">Connected Textboxes</label>
  <input type="text" class="input input-text input-full input-text-connect-top" placeholder=".input-text-connect-top" />
  <input type="text" class="input input-text input-full input-text-connect-middle" placeholder=".input-text-connect-middle" />
  <input type="text" class="input input-text input-full input-text-connect-bottom" placeholder=".input-text-connect-bottom" />
</div>
<div class="input-group">
  <label class="label">Select Boxes</label>
  <div class="input-select-container">
    <select class="input input-select">
      <option class="input-option-placeholder">.input-select</option>
      {% for i in (1..10) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="input-group">
  <h2>Switches</h2>
  <div class="col-container margin-top-xs">
    <div class="col col-20">
      <label class="label">Medium Switches</label>
      <button class="input-switch-md"></button>
      <button class="input-switch-md input-switch-true"></button>
      <button class="input-switch-md input-switch-false"></button>
    </div>
    <div class="col col-20">
      <label class="label">Small Switches</label>
      <button class="input-switch-sm"></button>
      <button class="input-switch-sm input-switch-true"></button>
      <button class="input-switch-sm input-switch-false"></button>
    </div>
  </div>
</div>

<hr />

<div class="input-group">
  <label class="label">Textbox</label>
  <p class="label-note">Some critically important notes about this field.</p>
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>

<hr />

<h2 class="margin-bottom-xs">Input Boxes</h2>
<div class="input-box">
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>

<hr />

<h2 class="margin-bottom-xs">Required Fields</h2>
<div class="col-container">
  <div class="col col-50">
    <div class="input-required">
      <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
    </div>
  </div>
  <div class="col col-50">
    <div class="input-required">
      <div class="input-select-container">
        <select class="input input-select">
          <option class="input-option-placeholder">.input-select</option>
          {% for i in (1..10) %}
            <option>{{ i }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>

<hr />

<h2 class="margin-bottom-xs">Form Errors</h2>
<div class="form-error-container">
  <ul class="form-error-list">
    <li class="form-error-item">
      <span class="form-error-text">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</span>
    </li>
    <li class="form-error-item">
      <span class="form-error-text">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</span>
    </li>
    <li class="form-error-item">
      <span class="form-error-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
    </li>
  </ul>
</div>
<div class="col-container margin-top-md margin-bottom-md">
  <div class="col col-50 input-error">
    <label class="label">Required Select Box</label>
    <div class="input-required">
      <div class="input-select-container">
        <select class="input input-select">
          <option class="input-option-placeholder">.input-select</option>
          {% for i in (1..10) %}
            <option>{{ i }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="col col-50 input-error">
    <label class="label">Required Textbox</label>
    <div class="input-required">
      <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
    </div>
  </div>
</div>

<hr />
