---
title: Shipyard Tables
description: Tables are useful for tabular data.
---

{% include page-heading.html page=page %}

<hr />

<table class="table">
  <thead>
    <th>Flight #</th>
    <th>Airline</th>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Notes</th>
  </thead>
  <tbody>
    {% for i in (1..15) %}
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
