---
title: Shipyard Tooltips
---

<h1>{{ page.title }}</h1>
<p class="text-light text-lg">
  Tooltips are used primarily by setting the tooltip attribute on any element
  (e.g. <code class="code-inline">tooltip="..."</code>).
</p>

<hr />

<div class="box-padding align-center">
  {% btn Default Tooltip, :secondary :margin, tooltip: 'What a lovely tooltip' %}
  {% btn Top, :secondary :margin, tooltip: 'What a lovely tooltip' %}
  {% btn Bottom, :secondary :margin, tooltip: 'What a lovely tooltip' %}
  {% btn Left, :secondary :margin, tooltip: 'What a lovely tooltip' %}
  {% btn Right, :secondary :margin, tooltip: 'What a lovely tooltip' %}
</div>
