+component('rds')
  +border-radius

  &-0
    border-radius: 0

  &-t
    border-radius: $border-radius $border-radius 0 0

  &-b
    border-radius: 0 0 $border-radius $border-radius

  &-l
    border-radius: $border-radius 0 0 $border-radius

  &-r
    border-radius: 0 $border-radius $border-radius 0

  &-tl
    border-radius: $border-radius 0 0 0

  &-tr
    border-radius: 0 $border-radius 0 0

  &-bl
    border-radius: 0 0 0 $border-radius

  &-br
    border-radius: 0 0 $border-radius 0
