+utility(border-radius)
  &-top
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  &-bottom
    border-top-left-radius: 0
    border-top-right-radius: 0
  &-left
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  &-right
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &-top-left
    border-top-right-radius: 0
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  &-top-right
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  &-bottom-left
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  &-bottom-right
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-bottom-left-radius: 0
