.center
  +all-media-sizes
    +center

.v-center
  +all-media-sizes
    +center($vertical: true)

.h-center
  +all-media-sizes
    +center($horizontal: true)

.align-middle
  top: -1px
  position: relative
  vertical-align: middle
