.normal
  +all-media-sizes
    font-weight: $normal

.medium
  +all-media-sizes
    font-weight: $medium

.bold,
.strong
  +all-media-sizes
    font-weight: $bold

.text
  &-overflow
    +all-media-sizes
      &-ellipsis
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

    +all-media-sizes
      &-clip
        white-space: normal
        text-overflow: clip
        overflow: visible
