body
  background: $gray-lightest
  color: $gray-dark
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a, .link
  cursor: pointer
  text-decoration: none
  color: $blue
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease, box-shadow 300ms ease
  &:hover
    color: darken($blue, 10%)
    text-decoration: underline
    .legacy-content &
      text-decoration: none

hr
  height: 0
  border: 0 solid $border-color-light
  border-width: 2px 0 0
  +respond-to(margin, (x0: 20px 0, x1: 30px 0))
  &.dark
    border-color: $border-color
  &.lightest
    border-color: $border-color-lightest
  &.thin
    border-width: 1px 0 0

.medium
  font-weight: $medium

strong, .strong, .bold
  font-weight: $bold

ul, ol
  list-style: none

.list
  list-style: circle
  &, &-disc
    color: $gray-light
    margin: 20px 0 0 18px
  &-disc
    list-style: disc
  .legacy-content &
    list-style: none
  li
    margin: 10px 0
    .legacy-content &
      color: $text-color

img
  display: block

button
  background: none
  border: none
  cursor: pointer

.code
  color: desaturate(darken($purple, 15%), 25%)
  background: darken($gray-lightest, 3%)
  border: 1px solid darken($gray-lighter, 5%)
  border-radius: 3px
  padding: 2px 4px
  margin: 0 2px

.em
  color: $teal

.p
  margin: 15px 0

+component('bullet')
  margin: 0 5px
  color: lighten($text-color-lightest, 20%)
  &-inverse
    +extend
    color: rgba(#fff,.4)

h1, .h1
  +respond-to(font-size, (x0: 20px, x1: 24px))
h2, .h2
  font-size: 18px

h1, h2, h3, h4, h5, h6
  @extend .strong

.h-primary
  margin-bottom: 0
  +respond-to(font-size, (x0: 24px, x1: 28px))
.h-secondary
  color: $text-color-lighter
  font-weight: $normal
  margin: 5px 0 30px
  +respond-to(font-size, (x0: 16px, x1: 18px))
.h-margin
  margin: 0 0 30px

.white-space-nowrap
  white-space: nowrap

.italic
  font-style: italic

.align
  +all-media-sizes
    @each $value in (center, left, right)
      &-#{$value}
        text-align: $value

.margin
  @each $direction in (top, right, bottom, left)
    &-#{$direction}
      +all-media-sizes
        @each $size, $value in (xxs: 5px, xs: 10px, sm: 15px, md: 20px, lg: 30px, xl: 40px, xxl: 50px)
          &-#{$size}
            margin-#{$direction}: $value

.text
  &-shadow
    text-shadow: 0 1px 0 rgba(#000,.08)

  &-overflow
    +all-media-sizes
      &-ellipsis
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

    +all-media-sizes
      &-clip
        white-space: normal
        text-overflow: clip
        overflow: visible

  // Font Colors
  &-light
    color: $text-color-light
  &-lighter
    color: $text-color-lighter
  &-lightest
    color: $text-color-lightest
  &-inverse
    &-light
      color: rgba(#fff,.8)
    &-lighter
      color: rgba(#fff,.7)
    &-lightest
      color: rgba(#fff,.6)

  // Font Sizes
  @each $size, $value in $font-sizes
    &-#{$size}
      font-size: $value

.rotate-45
  transform: rotate(45deg)
.rotate-90
  transform: rotate(90deg)
