.normal
  +all-media-sizes
    font-weight: $normal

.medium
  +all-media-sizes
    font-weight: $medium

.bold,
.strong
  +all-media-sizes
    font-weight: $bold

.text
  &-shadow
    text-shadow: 0 1px 0 rgba(#000,.08)

  &-overflow
    +all-media-sizes
      &-ellipsis
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

    +all-media-sizes
      &-clip
        white-space: normal
        text-overflow: clip
        overflow: visible

  // Text Colors
  &-normal
    color: $text-color-normal
  &-light
    color: $text-color-light
  &-lighter
    color: $text-color-lighter
  &-lightest
    color: $text-color-lightest
  &-dark
    color: $text-color-dark
  &-darker
    color: $text-color-darker
  &-darkest
    color: $text-color-darkest

  // Inverse Text Colors
  &-inverse
    &-lightest
      color: rgba(#fff,1)
    &-lighter
      color: rgba(#fff,.9)
    &-light
      color: rgba(#fff,.8)
    &-normal
      color: rgba(#fff,.7)
    &-dark
      color: rgba(#fff,.6)
    &-darker
      color: rgba(#fff,.5)
    &-darkest
      color: rgba(#fff,.4)

.rotate-45
  transform: rotate(45deg)
.rotate-90
  transform: rotate(90deg)
