$colors: (
  "gray": (
    base: #788594,
    light: #bac5d2,
    lighter: #dfe6eb,
    lightest: #f2f5f7,
    dark: #313a44,
    darkest: #1e252c
  ),
  "green": (
    base: #3acc7c,
    light: #97ffc6,
    lightest: #b5ffd6,
    dark: #2c995d,
    darkest: #1d663e
  ),
  "blue": (
    base: #1ca1e3,
    light: #5eb9e6,
    lightest: #9ed8f5,
    dark: #0075b0,
    darkest: #004d73
  ),
  "teal": (
    base: #20a5a8,
    light: #6ab7b9,
    lightest: #b2dbdc,
    dark: #0e6e70,
    darkest: #00494b
  ),
  "red": (
    base: #e06158,
    light: #f7a09e,
    lightest: #ffc6cb,
    dark: #b13b39,
    darkest: #892120
  ),
  "yellow": (
    base: #ffca49,
    light: #ffd87e,
    lightest: #ffe7b1,
    dark: #99782d,
    darker: #66501e,
    darkest: #33280f
  ),
  "orange": (
    base: #ff9f49,
    light: #ffba7d,
    lightest: #ffd6b1,
    dark: #cc7f3a,
    darkest: #995f2c
  ),
  "purple": (
    base: #bf84ff,
    light: lighten(#bf84ff, 10%),
    lighter: lighten(#bf84ff, 15%),
    lightest: lighten(#bf84ff, 20%),
    dark: desaturate(darken(#bf84ff, 20%), 40%),
    darker: desaturate(darken(#bf84ff, 35%), 40%),
    darkest: desaturate(darken(#bf84ff, 50%), 40%)
  ),
  "coral": (
    base: #f9657a,
    light: lighten(#f9657a, 8%),
    lighter: lighten(#f9657a, 16%),
    lightest: lighten(#f9657a, 25%),
    dark: desaturate(darken(#f9657a, 20%), 30%),
    darker: desaturate(darken(#f9657a, 35%), 25%),
    darkest: desaturate(darken(#f9657a, 50%), 20%)
  )
) !default;
