// Component Layering
$z-index: (modal: 200);

$bg-color: $gray-lightest;

$border-radius: 5px;

$border-color: darken($bg-color, 12%);
$border-color-dark: darken($border-color, 10%);
$border-color-darker: darken($border-color, 14%);
$border-color-darkest: darken($border-color, 18%);
$border-color-light: darken($bg-color, 6%);
$border-color-lighter: darken($bg-color, 4%);
$border-color-lightest: darken($bg-color, 2%);
