$bg-color: $gray-lightest !default

$box-shadow: 0 1px 2px rgba($gray-darkest,.08) !default
$border-radius: 5px !default

$bg-to-border: darken($bg-color, 50%)
$border-color: rgba($bg-to-border, .3) !default
$border-color-dark: rgba($bg-to-border, .45) !default
$border-color-darker: rgba($bg-to-border, .55) !default
$border-color-darkest: rgba($bg-to-border, .60) !default
$border-color-light: rgba($bg-to-border, .24) !default
$border-color-lighter: rgba($bg-to-border, .12) !default
$border-color-lightest: rgba($bg-to-border, .08) !default
