$shipyard-options: (

  // Shipyard: Color Utilities
  color: (
    prefix: null,
    responsive: false,
    values: $shipyard-colors
  ),

  // Shipyard: Color Utilities
  background-color: (
    prefix: 'bg',
    responsive: false,
    values: $shipyard-colors
  ),

  // Shipyard: Breakpoints
  breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),

  // Shipyard: Margins (TODO: Deprecate this map)
  margins: (
    all: 10px,
    sm: 20px,
    md: 30px,
    lg: 30px,
    xl: 40px
  ),

  // Shipyard: Grid Utility
  grid: (
    prefix: 'col',
    responsive: true,
    values: (0, 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 66, 70, 75, 80, 85, 90, 95, 100)
  ),

  // Shipyard: Cursor Utility
  cursor: (
    prefix: 'cursor',
    responsive: false,
    values: (auto, pointer, default)
  ),

  // Shipyard: Margin Utilities
  margin: (
    prefix: 'm',
    responsive: true,
    variants: (t: top, b: bottom, l: left, r: right),
    values: (
      0: 0,
      5: 5px,
      10: 10px,
      15: 15px,
      20: 20px,
      30: 30px,
      40: 40px,
      auto: auto
    )
  ),

  // Shipyard: Padding Utilities
  padding: (
    prefix: 'p',
    responsive: true,
    variants: (t: top, b: bottom, l: left, r: right),
    values: (
      0: 0,
      5: 5px,
      10: 10px,
      15: 15px,
      20: 20px,
      30: 30px,
      40: 40px
    )
  ),

  // Shipyard: Display Utilities
  display: (
    prefix: null,
    responsive: true,
    values: (
      'flex': flex,
      'block': block,
      'table': table,
      'inline': inline,
      'inline-block': inline-block,
      'hidden': none
    )
  ),

  // Shipyard: Float Utilities
  float: (
    prefix: 'float',
    responsive: true,
    values: (none, left, right)
  ),

  // Shipyard: Overflow Utility
  overflow: (
    prefix: 'overflow',
    responsive: false,
    values: (auto, hidden, visible)
  ),

  // Shipyard: Flex Direction Utility
  flex-direction: (
    prefix: 'flex',
    responsive: true,
    values: (
      'row': row,
      'row-reverse': row-reverse,
      'col': column,
      'col-reverse': column-reverse
    )
  ),

  // Shipyard: Border-Radius Utility
  border-radius: (
    prefix: 'rounded',
    responsive: true,
    values: (
      '': 5px,
      '0': 0,
      'xs': 2px,
      'sm': 3px,
      'md': 5px,
      'pill': 999px
    )
  ),

  // Shipyard: Font-Size Utility
  font-size: (
    prefix: 'text',
    responsive: true,
    values: (
      xxs: 12px,
      xs: 13px,
      sm: 14px,
      md: 16px,
      lg: 18px,
      xl: 20px,
      xxl: 22px,
      xxxl: 24px
    )
  ),

  // Shipyard: Opacity Utility
  opacity: (
    prefix: 'o',
    responsive: false,
    values: (
      '90': .9,
      '80': .8,
      '70': .7,
      '60': .6,
      '50': .5,
      '40': .4,
      '30': .3,
      '20': .2,
      '10': .1,
      '0': 0
    )
  ),

  // Shipyard: Position Utility
  position: (
    prefix: null,
    responsive: false,
    values: (static, relative, absolute, fixed)
  ),

  // Shipyard: Transition Utility Speeds
  transition: (
    prefix: 't',
    responsive: false,
    values: (
      '150ms': all 150ms ease,
      '300ms': all 300ms ease,
      '600ms': all 600ms ease
    )
  ),

  // Shipyard: Z-Index Utility
  z-index: (
    prefix: 'z',
    responsive: false,
    values: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, auto)
  )
) !default;

// TODO: Remove these variables someday in favor of the maps.
$margins: map-get($shipyard-options, margins);
$breakpoints: map-get($shipyard-options, breakpoints);
