$shipyard-options: (
  // Shipyard: Color Utilities
  colors: (
    "black": (
      base: #000
    ),
    "white": (
      base: #fff
    ),
    "gray": (
      base: #788594,
      light: #bac5d2,
      lighter: #dfe6eb,
      lightest: #f2f5f7,
      dark: darken(#788594, 18%),
      darker: #313a44,
      darkest: #1e252c
    ),
    "green": (
      base: darken(#3acc7c, 3%),
      light: lighten(#3acc7c, 22%),
      lighter: lighten(#3acc7c, 34%),
      lightest: lighten(#3acc7c, 41%),
      dark: darken(#3acc7c, 18%),
      darker: darken(#3acc7c, 26%),
      darkest: darken(#3acc7c, 32%)
    ),
    "blue": (
      base: #1ca1e3,
      light: lighten(#5eb9e6, 15%),
      lighter: lighten(#9ed8f5, 9%),
      lightest: lighten(#9ed8f5, 15%),
      dark: #0075b0,
      darker: darken(#0075b0, 7%),
      darkest: darken(#004d73, 5%)
    ),
    "teal": (
      base: #20a5a8,
      light: #6ab7b9,
      lighter: #b2dbdc,
      lightest: lighten(#b2dbdc, 13%),
      dark: darken(#20a5a8, 8%),
      darker: darken(#20a5a8, 16%),
      darkest: darken(#20a5a8, 24%)
    ),
    "red": (
      base: #e06158,
      light: lighten(#e06158, 8%),
      lighter: lighten(#e06158, 16%),
      lightest: lighten(#e06158, 32%),
      dark: #b13b39,
      darker: #892120,
      darkest: desaturate(darken(#892120, 8%), 0%)
    ),
    "yellow": (
      base: #ffca49,
      light: lighten(#ffca49, 8%),
      lighter: #ffe7b1,
      lightest: lighten(#ffe7b1, 7%),
      dark: darken(#ffca49, 20%),
      darker: darken(#ffca49, 30%),
      darkest: darken(#ffca49, 47%)
    ),
    "orange": (
      base: #ff9f49,
      light: lighten(#ff9f49, 7%),
      lighter: lighten(#ff9f49, 14%),
      lightest: lighten(#ff9f49, 21%),
      dark: desaturate(darken(#ff9f49, 10%), 35%),
      darker: desaturate(darken(#ff9f49, 20%), 25%),
      darkest: desaturate(darken(#ff9f49, 30%), 15%)
    ),
    "purple": (
      base: #bf8df6,
      light: lighten(#bf8df6, 10%),
      lighter: lighten(#bf8df6, 15%),
      lightest: lighten(#bf8df6, 20%),
      dark: desaturate(darken(#bf8df6, 20%), 35%),
      darker: desaturate(darken(#bf8df6, 35%), 35%),
      darkest: desaturate(darken(#bf8df6, 50%), 35%)
    ),
    "coral": (
      base: #f9657a,
      light: lighten(#f9657a, 8%),
      lighter: lighten(#f9657a, 16%),
      lightest: lighten(#f9657a, 25%),
      dark: desaturate(darken(#f9657a, 20%), 35%),
      darker: desaturate(darken(#f9657a, 30%), 25%),
      darkest: desaturate(darken(#f9657a, 40%), 15%)
    )
  ),

  // Shipyard: Breakpoints
  breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),

  // Shipyard: Margins (TODO: Deprecate this map)
  margins: (
    all: 10px,
    sm: 20px,
    md: 30px,
    lg: 30px,
    xl: 40px
  ),

  // Shipyard: Margin & Padding Utilities
  cursor: (
    prefix: 'cursor',
    responsive: false,
    values: (auto, pointer, default)
  ),

  // Shipyard: Margin & Padding Utilities
  margin-padding: (0, 5, 10, 15, 20, 30, 40),

  // Shipyard: Border-Radius Utility
  border-radius: (
    prefix: 'rounded',
    responsive: true,
    values: (
      '': 5px,
      '0': 0,
      'xs': 2px,
      'sm': 3px,
      'md': 5px,
      'pill': 999px
    )
  ),

  // Shipyard: Opacity Utility
  opacity: (
    prefix: 'o',
    responsive: true,
    values: (
      '90': .9,
      '80': .8,
      '70': .7,
      '60': .6,
      '50': .5,
      '40': .4,
      '30': .3,
      '20': .2,
      '10': .1,
      '0': 0
    )
  ),

  // Shipyard: Position Utility
  position: (
    prefix: null,
    responsive: false,
    values: (static, relative, absolute, fixed)
  ),

  // Shipyard: Transition Utility Speeds
  transition: (
    prefix: 't',
    responsive: false,
    values: (
      '150ms': all 150ms ease,
      '300ms': all 300ms ease,
      '600ms': all 600ms ease
    )
  ),

  // Shipyard: Z-Index Utility
  z-index: (
    prefix: 'z',
    responsive: false,
    values: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, auto)
  )
) !default;

// TODO: Remove these variables someday in favor of the maps.
$colors: map-get($shipyard-options, colors);
$margins: map-get($shipyard-options, margins);
$breakpoints: map-get($shipyard-options, breakpoints);
