$z-indexes: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, auto) !default;
$z-index-defaults: (
  tooltip-arrow: 60,
  tooltip: 50
) !default;

$z-index-options: () !default;
$z-index: map-merge-options($z-index-defaults, $z-index-options);
