@mixin rotate($deg)
  -ms-transform: rotate($deg)
  -moz-transform: rotate($deg)
  -webkit-transform: rotate($deg)
  transform: rotate($deg)

@mixin appearance($value)
  appearance: $value
  -moz-appearance: $value
  -webkit-appearance: $value

@mixin backdrop-filter($value)
  backdrop-filter: $value
  -webkit-backdrop-filter: $value

@mixin placeholder
  &:-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &::-moz-placeholder
    @content
  &::-webkit-input-placeholder
    @content
