@function utility-class($prefix, $class)
  @if $prefix
    $class: if($class == '', $prefix, "#{$prefix}-#{$class}")
  @return $class

@mixin utility($name)
  $utility: map-get($shipyard-options, $name)

  @if $utility != false
    $prefix: map-get($utility, prefix)
    $utility-values: map-get($utility, values)
    $utility-variants: map-get($utility, variants)
    $utility-is-responsive: map-get($utility, responsive)

    // Print out styles for all screens
    @each $class, $value in $utility-values
      $value: if($value, $value, $class)
      .#{utility-class($prefix, $class)}
        #{$name}: $value

    // Print out variants like: left, right, top, bottom
    @if $utility-variants
      @each $class, $value in $utility-values
        $value: if($value, $value, $class)
        @each $v-class, $v-prop in $utility-variants
          .#{utility-class($prefix + $v-class, $class)}
            #{$name}-#{$v-prop}: $value

    // Print out other utility content
    @if $prefix
      .#{$prefix}
        @content

    // Print out styles for all breakpoints
    @if $utility-is-responsive
      @each $breakpoint, $min-width in $breakpoints
        @media screen and (min-width:#{$min-width})
          @each $class, $value in $utility-values
            $value: if($value, $value, $class)
            .#{$breakpoint + '\\:' + utility-class($prefix, $class)}
              #{$name}: $value

          // Print out variants like: left, right, top, bottom
          @if $utility-variants
            @each $class, $value in $utility-values
              $value: if($value, $value, $class)
              @each $v-class, $v-prop in $utility-variants
                .#{$breakpoint + '\\:' + utility-class($prefix + $v-class, $class)}
                  #{$name}-#{$v-prop}: $value

          // Print out other utility content
          @if $prefix
            .#{$breakpoint + '\\:' + $prefix}
              @content
