.box
  &, &-link
    background: #fff
    box-shadow: 0 1px 2px rgba($gray-darkest,.08)

  &, &-link, &-secondary
    display: block
    position: relative
    border-radius: 4px
    transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease, box-shadow 300ms ease
    +clearfix

  &-secondary
    background: $gray-lighter

  &-link
    color: $blue
    cursor: pointer
    &:hover, &-selected, &-active
      color: $blue-dark
      box-shadow: 0 0 4px 1px rgba($blue,.5)
    &-active-green,
    &-active-green:hover
      cursor: default
      box-shadow: 0 0 4px 1px rgba(darken($green, 5%),.75)

  &-padding
    +respond-to(padding, $margins)

  // Box: Margins
  &-margin
    +all-media-sizes
      @each $size, $margin in (sm: 10px 0, md: 15px 0, lg: 30px 0)
        &-#{$size}
          margin: $margin

  // Box Sizes
  +all-media-sizes
    @each $size, $height in (xxs: 50px, xs: 60px, sm: 70px, md: 80px, lg: 90px, xl: 100px)
      &-#{$size}
        height: $height
