+component('header')
  $height: 70px
  top: 0
  left: 0
  right: 0
  position: fixed
  transition: height 250ms ease, background-color 250ms ease
  +respond-to(overflow, (all: hidden, sm: visible))
  +respond-to(height, (all: 50px, sm: 60px, md: 70px))
  +respond-to(text-align, (all: center, sm: left))
  +respond-to(line-height, (all: 50px, sm: 60px, md: 70px))
  .hamburger-button-clicked &
    height: 100%

  +sub-component('logo')
    display: inline-block
    +respond-to(margin, (all: 0 auto, sm: 0))
    +respond-to(font-size, (all: 20px, sm: 24px))
    +respond-to(float, (sm: left))
    a
      color: $blue-darkest

  +sub-component('list')
    +respond-to(float, (sm: right))
    +respond-to(margin-right, (sm: -15px))

  &-item
    +respond-to(margin, (sm: 0 15px))
    +respond-to(display, (all: block, sm: inline))
    &-cta
      +respond-to(top, (all: 0, sm: auto))
      +respond-to(right, (all: 10px, sm: auto))
      +respond-to(position, (all: fixed, sm: static))

  &-link
    color: inherit
    +when('item-current')
      position: relative
      color: $blue
      font-weight: $bold
      cursor: default
      &::after
        content: ''
        position: absolute
        left: 0
        bottom: -2px
        background: $blue-lighter
        +border-radius
        +width-height(100%, 2px)
    &, &:hover
      text-decoration: none
    &:hover
      color: $blue
    &-cta
      color: darken($green, 5%)
      font-weight: $bold
      &:hover
        color: $green-dark
      &, &:hover
        text-decoration: none
