$sizes: (sm: 18px)

+component('input-switch')
  outline: none
  cursor: pointer
  position: relative
  display: inline-block
  border-radius: 50px
  +width-height(36px, 20px)
  +background-clip(initial)
  &, &:hover, &:focus
    +btn-color($red, $border-color: transparent)
  &:checked
    &, &:hover, &:focus
      +btn-color($green, $border-color: transparent)

  &-secondary
    +extend
    &, &:hover, &:focus
      +btn-color($border-color, $border-color: transparent)

  // Checkbox Switch: White Dot
  &::after
    top: 0
    left: 0
    content: ''
    display: block
    position: absolute
    border-radius: 50%
    background-color: #fff
    transition: transform 300ms ease
    +width-height(16px)
  &:checked::after
    transform: translatex(100%)

  // Checkbox Switch: Sizes
  @each $name, $size in $sizes
    &-#{$name}
      +width-height($size * 2 - 4px, $size)
      &::after
        +width-height($size - 4px)
