+component('input-radio')
  outline: none
  position: relative
  cursor: pointer
  border-radius: 50%
  vertical-align: middle
  top: -1px
  border: 2px solid $border-color
  transition: background-color 300ms ease, border-color 300ms ease, opacity 300ms ease
  +appearance(none)
  +width-height(16px)
  &:hover, .btn:hover &
    border-color: darken($gray-lightest, 17%)
  &:checked
    &, .btn:hover &
      background: $green
      border-color: $green

  // Radio: Dot
  &::after
    content: ''
    opacity: 0
    border-radius: 50%
    background: #fff
    +width-height(6px)
    position: absolute
    top: 50%
    left: 50%
    margin: -3px 0 0 -3px
    transition: opacity 300ms ease
  &:checked::after
    opacity: 1

  // Radio: Inverse
  &-inverse
    opacity: .6
    &, &:hover, &:checked
      &, .btn:hover &
        border-color: #fff
    &:hover, &:checked, .btn:hover &
      opacity: 1
    &:checked
      &, .btn:hover &
        background: #fff
        border-color: #fff
        &::after
          background: $green-dark

  // Radio: Checkmark Icon
  &-checked:checked
    &::after
      border-radius: 0
      +width-height(8px)
      margin: -4px 0 0 -4px
      +icon(checkmark)
