+component('note')
  display: block
  position: relative
  +respond-to(min-height, (all: 50px, sm: 60px))
  +respond-to(margin, (all: 10px 0, sm: 15px 0))
  +respond-to(padding, (all: 12px 10px, sm: 17px 20px, md: 17px 30px))
  a, strong, .bold
    &:not(.btn)
      font-weight: $bold

  // Note: Types
  a
    color: $blue-dark

  // Note: Type colors defined in _components.scss
  +sub-component('info')
  +sub-component('success')
  +sub-component('warning')

  // Note: CTAs
  &-cta
    +breakpoint-all
      display: block
      text-align: center
      margin-top: 10px
    +breakpoint-sm
      top: 50%
      right: 10px
      position: absolute
      transform: translatey(-50%)
