@mixin status-icon-center($width, $height: null)
  $height: if($height, $height, $width)
  +width-height($width, $height)
  margin: ($height / -2) 0 0 ($width / -2)

+component('status')
  top: -1px
  position: relative
  display: inline-block
  color: $gray
  border: 2px solid $gray
  border-radius: 50%
  vertical-align: middle
  background-clip: border-box

  &-skipped
    &-bg
      background-color: $gray

  &-waiting,
  &-running
    &.status-xs,
    &.status-sm
      &::after
        top: -2px
        left: -2px
        right: -2px
        bottom: -2px
        content: ''
        display: block
        position: absolute
        border-radius: 50%
        border: 2px solid transparent
        animation: fade 1s linear 0s infinite alternate

  &-waiting
    color: $blue
    border-color: $blue
    &-bg
      background-color: $blue
    &.status-md:not(.status-inverse)
      color: #fff
      background-color: $blue
    &.status-xs::after,
    &.status-sm::after
      border-color: $blue-light

  &-running
    color: $teal
    border-color: $border-color-light
    &-bg
      background-color: $teal
    &.status-xs,
    &.status-sm
      border-color: $teal-light
      &::after
        background-color: $teal
    &.status-inverse
      color: #fff
      border-color: rgba(#fff,.3)
      background-color: transparent

  &-paused
    color: $yellow-dark
    border-color: $yellow-dark
    &-bg
      background-color: $yellow-dark
    &.status-md:not(.status-inverse)
      color: #fff
      background-color: $yellow-dark
    &.status-xs,
    &.status-sm
      border-color: transparent
      background-color: transparent

  &-success
    color: $green
    border-color: $green
    &, &-bg
      background-color: $green
    &.status-xs,
    &.status-sm
      border-color: transparent
      background-color: transparent

  &-fail
    color: $red
    border-color: $red
    &, &-bg
      background-color: $red
    &.status-xs,
    &.status-sm
      border-color: transparent
      background-color: transparent

  &-error
    color: $orange-dark
    border-color: $orange-dark
    &, &-bg
      background-color: $orange-dark
    &.status-xs,
    &.status-sm
      border-color: transparent
      background-color: transparent

  &-success,
  &-fail,
  &-error
    &.status-md:not(.status-inverse)
      color: #fff

  &-inverse
    border-color: #fff
    &.status-md:not(.status-running)
      background-color: #fff
    &.status-lg,
    &.status-xl
      color: #fff

  &-xs
    +width-height(6px)
  &-sm
    +width-height(8px)
  &-md
    +width-height(14px)
  &-lg
    +width-height(22px)
    background-color: transparent
  &-xl
    +width-height(32px)
    background-color: transparent

  // Status: Icons
  &-icon
    top: 50%
    left: 50%
    position: absolute

  // Status: Icons (X-Small)
  &-xs-icon
    margin: -2px 0 0 -2px
    +width-height(4px)
    &-skipped,
    &-waiting,
    &-running
      display: none
    &-error-xs
      fill: $orange-dark

  // Status: Icons (Small)
  &-sm-icon
    margin: -3px 0 0 -3px
    +width-height(6px)
    &-skipped,
    &-waiting,
    &-running
      display: none
    &-error-xs
      fill: $orange-dark

  // Status: Icons (Medium)
  &-md-icon
    margin: -2px 0 0 -2px
    +width-height(4px)
    &-skipped
      margin-left: 0
      transform: translatex(-.8px)
    &-waiting
      stroke-width: 1.5
      +width-height(6px, 2px)
      margin: 0 0 0 -3px
      transform: translatey(-.5px)
    &-running
      +width-height(12px)
      margin: -6px 0 0 -6px
    &-success
      margin-top: 0
      transform: translatey(-1.7px)
    &-error
      +width-height(2px, 6px)
      margin: -3px 0 0 -1px

  // Status: Icons (Large)
  &-lg-icon
    margin: -3px 0 0 -3px
    +width-height(6px)
    &-skipped
      width: 3px
      margin-left: -1px
    &-waiting
      +width-height(10px, 2px)
      margin: -1px 0 0 -5px
    &-running
      +width-height(20px)
      margin: -10px 0 0 -10px
    &-success
      margin-top: -2px
    &-error
      +width-height(4px, 8px)
      margin: -4px 0 0 -1px

  // Status: Icons (X-Large)
  &-xl-icon
    +status-icon-center(8px)
    &-skipped
      width: 4px
      margin-left: -1px
    &-waiting
      +status-icon-center(12px, 2px)
    &-running
      +status-icon-center(30px)
    &-success
      margin-top: -3px
    &-error
      +width-height(4px, 10px)
      margin: -5px 0 0 -1px

+component('text')
  &-skipped
    color: $gray
  &-waiting
    color: $blue
  &-running
    color: $teal
  &-paused
    color: $yellow-dark
  &-success
    color: $green
  &-fail
    color: $red
  &-error
    color: $orange-dark
