+component('table')
  width: 100%
  text-align: left
  border-spacing: 0

  tr
    &:nth-child(even)
      background: rgba($gray-lighter, .5)

  th, td
    +respond-to(padding, (x0: 5px, x1: 10px, x2: 15px))

  th
    border-bottom: 2px solid $gray-lighter

  td
    &:first-child
      border-radius: 3px 0 0 3px
    &:last-child
      border-radius: 0 3px 3px 0
