+component('tooltip')
  color: #fff
  width: auto
  z-index: 50
  opacity: 0
  line-height: 1.5
  min-width: 220px
  max-width: 400px
  text-align: left
  visibility: hidden
  position: absolute
  padding: 10px 15px
  border-radius: 5px
  font-size: $font-size
  font-weight: $normal
  background: $gray-darker
  transition: opacity 300ms ease 300ms, transform 300ms ease 300ms, visibility 0ms ease 300ms
  &-active
    opacity: 1
    visibility: visible
  .tooltip-parent:hover &
    +extend('active')

  // Tooltip: Parent Element
  &-parent
    overflow: visible
    position: relative

  // Tooltip: Directions
  &-top
    left: 50%
    bottom: 100%
    transform: translate(-50%, 0)
    &-active
      transform: translate(-50%, -12px)
  &-bottom
    left: 50%
    top: 100%
    transform: translate(-50%, 0)
    &-active
      transform: translate(-50%, 12px)
  &-left
    top: 50%
    right: 100%
    transform: translate(0, -50%)
    &-active
      transform: translate(-12px, -50%)
  &-right
    top: 50%
    left: 100%
    transform: translate(0, -50%)
    &-active
      transform: translate(12px, -50%)

  // Tooltip: Arrows
  &-arrow
    content: ''
    position: absolute
    +width-height(0px)
    transform: rotate(45deg)
    transform-origin: center center
    border: 4px solid transparent
    &-top
      left: 50%
      margin-left: -4px
      border-radius: 0 0 3px 0
      border-right-color: $gray-darker
      border-bottom-color: $gray-darker
      &-active
        transform: rotate(45deg) translate(-8.7px, -8.7px)
    &-bottom
      left: 50%
      margin-left: -4px
      border-radius: 3px 0 0 0
      border-top-color: $gray-darker
      border-left-color: $gray-darker
      &-active
        transform: rotate(45deg) translate(8.7px, 8.7px)
    &-left
      top: 50%
      margin-top: -4px
      border-radius: 0 3px 0 0
      border-top-color: $gray-darker
      border-right-color: $gray-darker
      &-active
        transform: rotate(45deg) translate(-8.7px, 8.7px)
    &-right
      top: 50%
      margin-top: -4px
      border-radius: 0 0 0 3px
      border-left-color: $gray-darker
      border-bottom-color: $gray-darker
      &-active
        transform: rotate(45deg) translate(8.7px, -8.7px)

  // Custom Tooltips
  @each $direction in (top, bottom, left, right)
    &-#{$direction}

      // Custom Tooltip Arrows
      &::before
        +extend('arrow')
        +extend('arrow-#{$direction}')
        #{opposite-direction($direction)}: -4px

      // Custom Tooltip Hover States
      .tooltip-parent:hover &
        +extend('#{$direction}-active')

  // Data Tooltip
  &-data
    &::before
      opacity: 0
      visibility: hidden
      transition: opacity 300ms ease 300ms, transform 300ms ease 300ms, visibility 0ms ease 300ms
    &::after
      +extend
      width: auto
      min-width: auto
      max-width: auto
      padding: 5px 10px
      border-radius: 3px
      text-align: center
      font-weight: $bold
      white-space: nowrap
      content: attr(data-tooltip)
      font-size: $font-size-xxs
    &:hover::after,
    &:hover::before
      +extend('active')

    // Data Tooltip: Directions
    @each $direction in (top, bottom, left, right)
      &-#{$direction}
        &::before
          +extend('arrow')
          +extend('arrow-#{$direction}')
          #{$direction}: -4px
        &::after
          +extend($direction)
        &:hover::after
          +extend("#{$direction}-active")
        &:hover::before
          +extend("arrow-#{$direction}-active")
