---
title: Shipyard Modal Example
answers:
  - We're happy with Codeship, but we don't need it anymore.
  - We've chosen another CI/CD provider.
  - Codeship is too expensive for our needs.
  - Codeship is missing a feature that we needed.
  - We're unsatisfied with our experience.
---

{% include page-heading.html page=page %}

<div class="modal-container" modal="example-small">
  <div class="modal modal-billing" role="dialog">
    <div class="alert alert-success margin-bottom-none rounded-top medium text-sm">
      We'd like to offer you <span class="code-inline strong">50% OFF</span> one month if you decide to stay.
    </div>
    <div class="modal-content rounded-0">
      <div class="modal-title margin-bottom-md">
        <h1 class="text-lg text-x1-xl">Codeship Basic Downgrade</h1>
      </div>
      <p class="text-light margin-bottom-md">
        We'd appreciate it if you would take a moment to share your thoughts
        and experience on why Codeship wasn't a good fit for your team.
      </p>
      <form>
        <ul class="input-list">
          {% for answer in page.answers %}
            <li class="input-item">
              <input id="checkbox-{{ forloop.index }}" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-{{ forloop.index }}" class="input-label">{{ answer }}</label>
            </li>
          {% endfor %}
        </ul>
      </form>
    </div>
    <div class="modal-ctas">
      <button class="btn btn-caution btn-sm btn-x1-md margin-right-xxs margin-right-x1-xs" modal-close>
        <span class="display-none display-x1-inline">Confirm</span> Downgrade
      </button>
      <button class="btn btn-cta btn-sm btn-x1-md margin-right-xxs margin-right-x1-xs" modal-close>Apply Discount</button>
      <button class="btn btn-secondary btn-sm btn-x1-md" modal-close>Cancel</button>
    </div>
  </div>
</div>
