---
title: Shipyard Modal Example
---

{% include page-heading.html page=page %}

<div class="modal-container" modal="example-small">
  <div class="modal modal-sm modal-billing" role="dialog">
    <div class="modal-content">
      <div class="modal-title-border margin-bottom-md margin-bottom-x1-lg">
        <div class="col-container">
          <h1 class="text-lg text-x1-xl col">Payment Period</h1>
          <p class="col text-light medium align-right display-none display-x1-block">
            <span class="strong green-dark">1</span> Concurrent Build
            <span class="bullet">&amp;</span>
            <span class="strong green-dark">1</span> Test Pipeline
          </p>
        </div>
      </div>
      <button class="btn btn-cta btn-sm btn-x1-md margin-right-xs margin-right-x1-sm margin-bottom-xs margin-bottom-x1-none">
        <input type="radio" class="input input-radio-checkbox input-radio-inverse margin-right-xs" checked />
        Monthly &mdash; $39
      </button>
      <button class="btn btn-secondary-link btn-sm btn-x1-md">
        <input type="radio" class="input input-radio-checkbox margin-right-xs" />
        Yearly &mdash; $390
        <span class="btn btn-cta btn-rounded btn-xxs margin-left-xs modal-billing-yearly-promo">2 Months Free</span>
        {% icon :tag, class: 'icon-inverse' %}
      </button>
      <p class="text-light margin-top-xs margin-top-x1-sm" markdown="1">
        Your new subscription will be prorated on your next invoice. If you have any questions, don't hesitate to <a href="#" class="medium">contact our support team</a>.
      </p>
      <div class="modal-title-border margin-top-lg margin-bottom-md margin-bottom-x1-lg">
        <h1 class="text-lg text-x1-xl">Payment Info</h1>
      </div>
      <form>
        <div class="input-required">
          <input type="text" class="input input-text input-full" placeholder="Card Number" />
        </div>
        <div class="col-container margin-top-md">
          <div class="col col-50 col-x1-33">
            <label class="label">Expiry Date</label>
            <div class="input-required">
              <input type="text" class="input input-text input-full" placeholder="MM/YYYY" />
            </div>
          </div>
          <div class="col col-50 col-x1-33">
            <label class="label">CCV</label>
            <div class="input-required">
              <input type="text" class="input input-text input-full" placeholder="3 or 4 digits" />
            </div>
          </div>
          <div class="col col-100 col-x1-33 margin-top-md margin-top-x1-none margin-bottom-sm margin-bottom-x1-none">
            <label class="label">Zip Code</label>
            <div class="input-required">
              <input type="text" class="input input-text input-full" />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-ctas">
      <div class="col-container-nowrap">
        <div class="col col-100">
          <button class="btn btn-primary btn-sm btn-x1-md" modal-close>
            Save
            <span class="display-none display-x1-inline">&amp; Continue</span>
          </button>
          <button class="btn btn-secondary btn-sm btn-x1-md margin-left-xxs margin-left-x1-xs" modal-close>Cancel</button>
        </div>
        <div class="col align-right">
          <span class="btn-sm btn-x1-md white-space-nowrap padding-none">
            {% icon :lock, class: 'green-dark icon-center margin-right-xxs' %}
            <span class="text-sm text-lighter medium">Secure Server</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
