// Code Styles
code
  li &, p &, h1 &, h2 &, h3 &
    margin: 0 3px
    @extend .code-inline
  div.highlighter-rouge &
    @extend .code-block
    margin: 15px 0

hr
  +respond-to(margin, (x0: 30px 0, x1: 40px 0, x2: 50px 0))

// Utilities: Colors
+component('shade')
  &-list
    display: table
    width: 100%
  &-item
    text-align: center
    display: table-cell
    width: 10%
    &:not(:first-child)
      border-left: 10px solid transparent
    &:not(:last-child)
      border-right: 10px solid transparent
  &-box
    height: 165px
    padding: 5px
    white-space: nowrap
    &:hover
      cursor: default
    &:not(:hover)
      background: #fff !important
  &-color
    height: 120px
    border-radius: 2px 2px 0 0
    display: flex
    align-items: center
    justify-content: center
    color: transparent
    transition: 300ms color ease
    +when('box:hover')
      color: #fff
    +when('light:hover')
      color: $gray-darker
  &-text
    line-height: 40px
    transition: 300ms color ease
    +when('box:hover')
      color: rgba(#fff,.7)
    +when('light:hover')
      color: rgba($gray-darker,.6)

+component('utilities-margin-padding')
  &-box
    line-height: 40px
