---
---
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/css/application.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.typekit.net/wel6tpj.js"></script>
    <script type="text/javascript">
      try{Typekit.load({ async: true });}catch(e){}
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="{{ site.baseurl }}/">{{ site.title }}</a></h6>
        <ul>
          <li><a href="{{ site.baseurl }}/">Overview</a></li>
          <li><a href="{{ site.baseurl }}/components">Components</a></li>
          <li><a href="{{ site.baseurl }}/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="container">{{ content }}</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
