---
navigation:
- name: Home
  url: /
- name: Components
  url: /components/
- name: Utilities
  url: /utilities/
---
<html lang="en" class="{% shipyard_css_classes %}">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    {% css application media:screen %}
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          {% for link in layout.navigation %}
            <li class="header-item {% if page.url == link.url %}header-item-current{% endif %}">
              <a href="{{ site.baseurl | append: link.url }}" class="header-link">{{ link.name }}</a>
            </li>
          {% endfor %}
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container">{{ content }}</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    {% js application %}
    {% css fonts media:screen rel:preload async %}
  </body>
</html>
