---
navigation:
- name: Features
  url: /examples/marketing/features
- name: Pricing
  url: /examples/marketing/pricing
- name: Documentation
  url: /examples/documentation
- name: More
  url: /examples/documentation
- name: Sign In
  url: /examples/app/sign-in
footer:
- name: Product
  links:
  - name: Features
  - name: Pricing
  - name: Codeship Basic
  - name: Codeship Pro
  - name: Request a Demo
- name: Company
  links:
  - name: About Us
  - name: Team
  - name: Blog
  - name: Customers
  - name: Resources
- name: Help
  links:
  - name: Documentation
  - name: Community
  - name: Start with Codeship Pro
  - name: Contact Support
- name: Resources
  links:
  - name: eBooks
  - name: Webinars
  - name: Guides
  - name: Email Courses
- name: Legal
  links:
  - name: Terms of Service
  - name: Privacy
  - name: Security
  - name: Imprint
---
<html lang="en" class="{% shipyard_css_classes %}">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    {% css fonts media:screen rel:preload async %}
    {% css syntax media:screen rel:preload async %}
    {% css marketing media:screen %}
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo">
          <a href="{{ site.baseurl }}/examples/marketing/" class="header-logo-link">
            {% icon 'codeship', prefix: 'header' %}
          </a>
        </h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          {% for link in layout.navigation %}
            <li class="header-item {% if page.url == link.url %}header-item-current{% endif %}">
              <a href="{{ site.baseurl | append: link.url }}" class="header-link">{{ link.name }}</a>
            </li>
          {% endfor %}
          <li class="header-item header-item-cta">
            <a href="{{ site.baseurl }}/examples/app/sign-up" target="_blank" class="header-link-cta">Sign Up</a>
          </li>
        </ul>
      </div>
    </header>
    {{ content }}
    <footer class="bg-blue-dark blue-light">
      <div class="container">
        <h6 class="margin-bottom-lg">
          <a href="{ site.baseurl }}/examples/marketing/" class="white">
            {% icon 'codeship', prefix: 'footer' %}
          </a>
        </h6>
        <div class="col-container">
          {% for section in layout.footer %}
            <dl class="col">
              <dt class="strong">{{ section.name }}</dt>
              {% for link in section.links %}
                <dd><a href="#" class="white medium">{{ link.name }}</a></dd>
              {% endfor %}
            </dl>
          {% endfor %}
        </div>
        <p class="margin-top-lg">&copy; 2017 Codeship</p>
        <ul>
          <li>+1 855.790.8079</li>
          <li>{% icon :github %}</li>
          <li>{% icon :slack %}</li>
        </ul>
      </div>
    </footer>
    {% js marketing %}
  </body>
</html>
