<html lang="en" class="env-production components-accordion">
  <head>
    <meta charset="utf-8" />
    <title>Accordions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" integrity="sha256-ykLyqEsmScn8zNFsxR+20fkVuioJiNMLkcO4TYcis2k=" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css" integrity="sha256-QCZr3H/ZlbjN2u7as4F9ePzFrtGJsdaiOmgntDe3FIg=" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/application-0195e05f84aee06cc830f41261612865465cdf9370f5c9f4431fc18990726ce4.css" integrity="sha256-AZXgX4Su4GzIMPQSYWEoZUZc35Nw9cn0Qx/BiZBybOQ=" crossorigin="anonymous">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Accordions</h1>

<p class="text-light text-lg mt-15">Useful when you want to open and close large blocks of content in a more elegant way.</p>

<hr />

<div class="box-secondary mb-30">
  <div class="box p-10 sm:p-15 md:p-20 lg:p-30 box-link pt-20 pb-20" accordion="#accordion-example">
    Click this box to see an example of the accordion transitions.
  </div>
  <div id="accordion-example" class="accordion accordion-xs accordion-closed p-10 sm:p-15 md:p-20 lg:p-30 rounded-bottom">
    <p>Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum.</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod.</p>
    <p>Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nc">.accordion</span> <span class="p">{</span> <span class="nl">transition</span><span class="p">:</span> <span class="n">opacity</span> <span class="m">400ms</span> <span class="n">linear</span><span class="p">,</span> <span class="n">margin</span> <span class="m">400ms</span> <span class="n">ease-out</span><span class="p">,</span> <span class="n">padding</span> <span class="m">400ms</span> <span class="n">ease-out</span><span class="p">,</span> <span class="n">max-height</span> <span class="m">400ms</span> <span class="n">ease-out</span> <span class="p">}</span>
<span class="nc">.accordion-xs</span> <span class="p">{</span> <span class="nl">max-height</span><span class="p">:</span> <span class="m">500px</span> <span class="p">}</span>
<span class="nc">.accordion-sm</span> <span class="p">{</span> <span class="nl">max-height</span><span class="p">:</span> <span class="m">750px</span> <span class="p">}</span>
<span class="nc">.accordion-md</span> <span class="p">{</span> <span class="nl">max-height</span><span class="p">:</span> <span class="m">1000px</span> <span class="p">}</span>
<span class="nc">.accordion-lg</span> <span class="p">{</span> <span class="nl">max-height</span><span class="p">:</span> <span class="m">1500px</span> <span class="p">}</span>
<span class="nc">.accordion-xl</span> <span class="p">{</span> <span class="nl">max-height</span><span class="p">:</span> <span class="m">3000px</span> <span class="p">}</span>
<span class="nc">.accordion-closed</span> <span class="p">{</span> <span class="nl">opacity</span><span class="p">:</span> <span class="m">0</span><span class="p">;</span> <span class="nl">max-height</span><span class="p">:</span> <span class="m">0</span><span class="p">;</span> <span class="nl">overflow</span><span class="p">:</span> <span class="nb">hidden</span><span class="p">;</span> <span class="nl">padding-top</span><span class="p">:</span> <span class="m">0</span> <span class="cp">!important</span><span class="p">;</span> <span class="nl">padding-bottom</span><span class="p">:</span> <span class="m">0</span> <span class="cp">!important</span><span class="p">;</span> <span class="nl">margin-top</span><span class="p">:</span> <span class="m">0</span> <span class="cp">!important</span><span class="p">;</span> <span class="nl">margin-bottom</span><span class="p">:</span> <span class="m">0</span> <span class="cp">!important</span> <span class="p">}</span>
</code></pre></div></div>

<hr />

<ul class="col-container">
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Gzipped Size</span>
    <span class="text-xxxl bold text-darker">184 <span class="text-lightest">B</span></span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Declarations</span>
    <span class="text-xxxl bold text-darker">7</span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Selectors</span>
    <span class="text-xxxl bold text-darker">7</span>
  </li>
</ul>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-d469877ec516d91e015ea23992642a086343882c509a42b3007f99a77f15f371.js" integrity="sha256-1GmHfsUW2R4BXqI5kmQqCGNDiCxQmkKzAH+Zp38V83E=" crossorigin="anonymous"></script>
  </body>
</html>
