<html lang="en" class="env-production components-alerts">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Alerts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-7f27112a9e42d7810681d39a71b9ff29300d5230e52138652942d90f4c35deb1.css" media="screen">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Alerts</h1>

<p class="text-light text-lg margin-top-sm">Alerts should be used to grab a user’s attention before proceeding to the next action. They are commonly found at the very top of the page directly above the content.</p>

<hr />

<h3 id="dismissible">Dismissible</h3>
<p class="section-description">Used to display notes, tips, and other non-critical information.</p>

<div role="alert" shipyard="alert" class="alert"><p class="alert-txt">
  Ten other people are also viewing tickets for <a href="#">this flight</a>.
  Use the code <code class="code-inline">Travel_Light_2017</code> before you book your flight.
</p><button class="alert-close v-center" shipyard="alert-close"><svg class="icon icon-x icon-outline alert-close-icon icon-outline-inverse center" viewBox="0 0 6 6" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#x"></use></svg></button></div>

<hr />

<h3 id="default-alert">Default <code class="language-html highlighter-rouge">.alert</code></h3>
<p class="section-description">Used to display notes, tips, and other non-critical information.</p>

<div role="alert" class="alert"><p class="alert-txt">
  Ten other people are also viewing tickets for <a href="#">this flight</a>.
  Use the code <code class="code-inline">Travel_Light_2017</code> before you book your flight.
  <button class="alert-cta btn btn-sm">Call to Action</button>
</p></div>

<hr />

<h3 id="info-alert-info">Info <code class="language-html highlighter-rouge">.alert-info</code></h3>
<p class="section-description">Useful when drawing attention to non-critical information or actions we want the user to take.</p>

<div role="alert" class="alert alert-info"><p class="alert-txt">
  Ten other people are also viewing tickets for <a href="#">this flight</a>.
  Use the code <code class="code-inline">Travel_Light_2017</code> before you book your flight.
  <button class="alert-cta btn btn-sm">Call to Action</button>
</p></div>

<hr />

<h3 id="success-alert-success">Success <code class="language-html highlighter-rouge">.alert-success</code></h3>
<p class="section-description">Useful when drawing attention to interactions that have produced successful results.</p>

<div role="alert" class="alert alert-success"><p class="alert-txt">
  Pack your bags! You'll be on the next flight to Hawaii.
  Use the code <code class="code-inline">Travel_Light_2017</code> on your next flight. In the meantime you can <a href="#">invite a friend</a> to this flight.
  <button class="alert-cta btn btn-sm">Call to Action</button>
</p></div>

<hr />

<h3 id="warning-alert-warning">Warning <code class="language-html highlighter-rouge">.alert-warning</code></h3>
<p class="section-description">Useful when drawing attention to critical, time-sensitive information — even if nothing has gone wrong.</p>

<div role="alert" class="alert alert-warning"><p class="alert-txt">
  There are only 2 seats left on this flight! We recommend to <a href="#">book your tickets</a> as soon as possible.
  Use the code <code class="code-inline">Travel_Light_2017</code> before you book your flight.
  <button class="alert-cta btn btn-sm">Call to Action</button>
</p></div>

<hr />

<h3 id="error-alert-error">Error <code class="language-html highlighter-rouge">.alert-error</code></h3>
<p class="section-description">Useful when drawing attention to something that has gone critically wrong.</p>

<div role="alert" class="alert alert-error"><p class="alert-txt">
  This flight is now sold out. Let's get you on the <a href="#">next flight to Kauai</a>.
  We hope the code <code class="code-inline">Travel_Light_2017</code> will be useful for your next flight.
  <button class="alert-cta btn btn-sm">Call to Action</button>
</p></div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-a29e09541cf2fb1aadbf1e10b34ee7725fed4a697fb2cf4e0116d6c55884da81.js"></script>
  </body>
</html>
