<html>
  <head>
    <title>Shipyard Alerts</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container"><h1>Shipyard Alerts</h1>

<hr />

<div role="alert" data-shipyard="alert" v-show="visible" class="alert alert-info "><p class="alert-txt"> asdasdasdasdasd </p></div>
<div role="alert" data-shipyard="alert" v-show="visible" class="alert alert-success "><p class="alert-txt"> asdasdasdasdasd </p></div>
<div role="alert" data-shipyard="alert" v-show="visible" class="alert alert-warning "><p class="alert-txt"> asdasdasdasdasd </p></div>
<div role="alert" data-shipyard="alert" v-show="visible" class="alert alert-error "><p class="alert-txt"> asdasdasdasdasd </p></div>
</div>
    </div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
