<html>
  <head>
    <title>Shipyard Boxes</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Boxes</h1>

<hr />

<div class="box box-padding">
  <h4>Default Box</h4>
  <p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
</div>

<hr />

<div class="box-link box-padding">
  <h4>Linked Box</h4>
  <p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
</div>

<hr />

<div class="box-secondary box-padding">
  <h4>Secondary Box</h4>
  <p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
</div>

<hr />

<h2>Boxes Sizes</h2>


  <div class="box box-xxs margin-top-md">
    <strong class="center text-lighter text-sm">.box-xxs</strong>
  </div>

  <div class="box box-xs margin-top-md">
    <strong class="center text-lighter text-sm">.box-xs</strong>
  </div>

  <div class="box box-sm margin-top-md">
    <strong class="center text-lighter text-sm">.box-sm</strong>
  </div>

  <div class="box box-md margin-top-md">
    <strong class="center text-lighter text-sm">.box-md</strong>
  </div>

  <div class="box box-lg margin-top-md">
    <strong class="center text-lighter text-sm">.box-lg</strong>
  </div>

  <div class="box box-xl margin-top-md">
    <strong class="center text-lighter text-sm">.box-xl</strong>
  </div>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
