<html>
  <head>
    <title>Shipyard Boxes</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Boxes</h1>

<p class="text-light text-lg margin-top-xxs">Boxes should be used to grab a draw attention to specific groups of content, and are most useful to linked content. By default, all boxes need to have the base class of <code class="highlighter-rouge">.box</code> in order to function properly.</p>

<hr />

<h3 id="default-box">Default <code class="highlighter-rouge">.box</code></h3>
<p class="text-light margin-bottom-sm">Useful when needing to draw extra attention to a particular group of content.</p>

<div class="box"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="padded-box-padding">Padded <code class="highlighter-rouge">.box-padding</code></h3>
<p class="text-light margin-bottom-sm">Useful when needing to draw extra attention to a particular group of content.</p>

<div class="box box-padding"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="linked-box-link">Linked <code class="highlighter-rouge">.box-link</code></h3>
<p class="text-light margin-bottom-sm">Useful when linking important components to another page or another group of content.</p>

<div class="box box-link box-padding"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="secondary-box-secondary">Secondary <code class="highlighter-rouge">.box-secondary</code></h3>
<p class="text-light margin-bottom-sm">Useful when connecting secondary information to the default box styles.</p>

<div class="box box-secondary box-padding"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="box-sizes-box-xxs-xs-sm-md-lg-xl">Box Sizes <code class="highlighter-rouge">.box-[xxs, xs, sm, md, lg, xl]</code></h3>
<p class="text-light margin-bottom-sm">Useful when you need to create boxes with fixed heights. Note: The <a href="/shipyard/utilities/responsive">responsive utility classes</a> can also be applied to each box size.</p>

<div class="box box-xxs margin-top-md">
    <strong class="center text-lighter text-sm">.box-xxs</strong>
  </div>

<div class="box box-xs margin-top-md">
    <strong class="center text-lighter text-sm">.box-xs</strong>
  </div>

<div class="box box-sm margin-top-md">
    <strong class="center text-lighter text-sm">.box-sm</strong>
  </div>

<div class="box box-md margin-top-md">
    <strong class="center text-lighter text-sm">.box-md</strong>
  </div>

<div class="box box-lg margin-top-md">
    <strong class="center text-lighter text-sm">.box-lg</strong>
  </div>

<div class="box box-xl margin-top-md">
    <strong class="center text-lighter text-sm">.box-xl</strong>
  </div>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
