<html lang="en" class="env-production components-boxes">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Boxes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-065ac39f488c5bc69e9da46470bfc38155bd5cf73c4e918db6fc5d2ec160cb8c.css" media="screen">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Boxes</h1>

<p class="text-light text-lg margin-top-sm">Boxes should be used to grab a draw attention to specific groups of content, and are most useful to linked content. By default, all boxes need to have the base class of <code class="language-html highlighter-rouge">.box</code> in order to function properly.</p>

<hr />

<h3 id="default-box">Default <code class="language-html highlighter-rouge">.box</code></h3>
<p class="section-description">Useful when needing to draw extra attention to a particular group of content.</p>

<div class="box"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="padded-box-padding">Padded <code class="language-html highlighter-rouge">.box-padding</code></h3>
<p class="section-description">Useful when needing to draw extra attention to a particular group of content.</p>

<div class="box box-padding"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="linked-box-link">Linked <code class="language-html highlighter-rouge">.box-link</code></h3>
<p class="section-description">Useful when linking important components to another page or another group of content.</p>

<div class="box box-link"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="linked--active-box-link-active">Linked &amp; Active <code class="language-html highlighter-rouge">.box-link-active</code></h3>
<p class="section-description">Useful when linking important components to another page or another group of content.</p>

<div class="box box-link box-link-active"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="linked--selected-box-link-selected">Linked &amp; Selected <code class="language-html highlighter-rouge">.box-link-selected</code></h3>
<p class="section-description">Useful when highlighting a linked box that’s been selected by the user.</p>

<div class="box box-link box-link-selected"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="secondary-box-secondary">Secondary <code class="language-html highlighter-rouge">.box-secondary</code></h3>
<p class="section-description">Useful when connecting secondary information to the default box styles.</p>

<div class="box-secondary"><p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>

<hr />

<h3 id="box-sizes-box-xxs-xs-sm-md-lg-xl-xxl">Box Sizes <code class="language-html highlighter-rouge">.box-[xxs, xs, sm, md, lg, xl, xxl]</code></h3>
<p class="section-description">Useful when you need to create boxes with fixed heights. Note: The <a href="/shipyard/utilities/responsive">responsive utility classes</a> can also be applied to each box size.</p>

<div class="box box-xxs margin-top-md">
    <strong class="center text-lighter text-sm">.box-xxs</strong>
  </div>

<div class="box box-xs margin-top-md">
    <strong class="center text-lighter text-sm">.box-xs</strong>
  </div>

<div class="box box-sm margin-top-md">
    <strong class="center text-lighter text-sm">.box-sm</strong>
  </div>

<div class="box box-md margin-top-md">
    <strong class="center text-lighter text-sm">.box-md</strong>
  </div>

<div class="box box-lg margin-top-md">
    <strong class="center text-lighter text-sm">.box-lg</strong>
  </div>

<div class="box box-xl margin-top-md">
    <strong class="center text-lighter text-sm">.box-xl</strong>
  </div>

<div class="box box-xxl margin-top-md">
    <strong class="center text-lighter text-sm">.box-xxl</strong>
  </div>

<hr />

<h3 id="rounded-box-rounded">Rounded <code class="language-html highlighter-rouge">.box-rounded</code></h3>
<p class="section-description">Useful when you need a box with rounded corners.</p>

<div class="box box-rounded box-xxs margin-top-md">
    <strong class="center text-lighter text-sm">.box-xxs</strong>
  </div>

<div class="box box-rounded box-xs margin-top-md">
    <strong class="center text-lighter text-sm">.box-xs</strong>
  </div>

<div class="box box-rounded box-sm margin-top-md">
    <strong class="center text-lighter text-sm">.box-sm</strong>
  </div>

<div class="box box-rounded box-md margin-top-md">
    <strong class="center text-lighter text-sm">.box-md</strong>
  </div>

<div class="box box-rounded box-lg margin-top-md">
    <strong class="center text-lighter text-sm">.box-lg</strong>
  </div>

<div class="box box-rounded box-xl margin-top-md">
    <strong class="center text-lighter text-sm">.box-xl</strong>
  </div>

<div class="box box-rounded box-xxl margin-top-md">
    <strong class="center text-lighter text-sm">.box-xxl</strong>
  </div>

<hr />

<ul class="col-container">
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Gzipped Size</span>
    <span class="text-xxxl strong text-darker">528b</span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Declarations</span>
    <span class="text-xxxl strong text-darker">45</span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Selectors</span>
    <span class="text-xxxl strong text-darker">56</span>
  </li>
</ul>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-5ab9446545f2cb68cfd0d19be4702200d8390ba876c5de7a929c93f05a68b866.js"></script>
  </body>
</html>
