<html>
  <head>
    <title>Shipyard Buttons</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Buttons</h1>



<hr />

<h2>Button Types</h2>
<div class="box-padding align-center">
  <button class="btn">Default </button>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-secondary">Secondary</button>
  <button class="btn btn-disabled">Disabled</button>
  <button class="btn btn-cta">CTA</button>
  <button class="btn btn-caution">Caution</button>
</div>
<div class="box-secondary box-padding align-center bg-gray-dark">
  <button class="btn btn-inverse">Inverse</button>
  <button class="margin-left-xs btn btn-inverse-secondary">Inverse</button>
</div>

<hr />

<div class="box-padding align-center">
  <button class="btn">Button </button>
  <a href="#" class="btn">Link</a>
  <input type="button" class="btn" value="Input" />
</div>

<hr />

<h2>Button Sizes (default: md)</h2>
<div class="box-padding align-center">
  <button class="btn btn-xxs">XX-Small</button>
  <button class="btn btn-xs">X-Small</button>
  <button class="btn btn-sm">Small</button>
  <button class="btn btn-md">Medium</button>
  <button class="btn btn-lg">Large</button>
  <button class="btn btn-xl">X-Large</button>
</div>

<h2>XX-Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  <button class="btn btn-xxs">All Screens</button>
  <button class="btn btn-x1-xxs">Tablets</button>
  <button class="btn btn-x2-xxs">Laptops</button>
  <button class="btn btn-x3-xxs">Wide Screens</button>
  <button class="btn btn-x4-xxs">Giant Screens</button>
</div>

<h2>X-Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  <button class="btn btn-xs">All Screens</button>
  <button class="btn btn-x1-xs">Tablets</button>
  <button class="btn btn-x2-xs">Laptops</button>
  <button class="btn btn-x3-xs">Wide Screens</button>
  <button class="btn btn-x4-xs">Giant Screens</button>
</div>

<h2>Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  <button class="btn btn-sm">All Screens</button>
  <button class="btn btn-x1-sm">Tablets</button>
  <button class="btn btn-x2-sm">Laptops</button>
  <button class="btn btn-x3-sm">Wide Screens</button>
  <button class="btn btn-x4-sm">Giant Screens</button>
</div>

<h2>Medium, Responsive Buttons (Default Size)</h2>
<div class="box-padding align-center">
  <button class="btn">All Screens </button>
  <button class="btn btn-sm btn-x1-md">Tablets</button>
  <button class="btn btn-sm btn-x2-md">Laptops</button>
  <button class="btn btn-sm btn-x3-md">Wide Screens</button>
  <button class="btn btn-sm btn-x4-md">Giant Screens</button>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
