<html lang="en" class="env-production components-buttons">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Buttons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-970900306a575cc67b35a1e3038422d1eaef9f16cc1a87001db77bcf97b54f5b.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Buttons</h1>



<hr />

<h2>Button Types</h2>
<div class="box-padding align-center">
  <button class="btn">Default </button>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-secondary">Secondary</button>
  <button class="btn btn-disabled">Disabled</button>
  <button class="btn btn-cta">CTA</button>
  <button class="btn btn-caution">Caution</button>
</div>
<div class="box-secondary box-padding align-center bg-gray-dark">
  <button class="btn btn-inverse">Inverse</button>
  <button class="margin-left-xs btn btn-inverse-secondary">Inverse</button>
</div>

<hr />

<div class="box-padding align-center">
  <button class="btn">Button </button>
  <a href="#" class="btn">Link</a>
  <input type="button" class="btn" value="Input" />
</div>

<hr />

<h2>Button Sizes (default: md)</h2>
<div class="box-padding align-center">
  <button class="btn btn-xxs">XX-Small</button>
  <button class="btn btn-xs">X-Small</button>
  <button class="btn btn-sm">Small</button>
  <button class="btn btn-md">Medium</button>
  <button class="btn btn-lg">Large</button>
  <button class="btn btn-xl">X-Large</button>
</div>

<h2>XX-Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  <button class="btn btn-xxs">All Screens</button>
  <button class="btn btn-x1-xxs">Tablets</button>
  <button class="btn btn-x2-xxs">Laptops</button>
  <button class="btn btn-x3-xxs">Wide Screens</button>
  <button class="btn btn-x4-xxs">Giant Screens</button>
</div>

<h2>X-Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  <button class="btn btn-xs">All Screens</button>
  <button class="btn btn-x1-xs">Tablets</button>
  <button class="btn btn-x2-xs">Laptops</button>
  <button class="btn btn-x3-xs">Wide Screens</button>
  <button class="btn btn-x4-xs">Giant Screens</button>
</div>

<h2>Small, Responsive Buttons</h2>
<div class="box-padding align-center">
  <button class="btn btn-sm">All Screens</button>
  <button class="btn btn-x1-sm">Tablets</button>
  <button class="btn btn-x2-sm">Laptops</button>
  <button class="btn btn-x3-sm">Wide Screens</button>
  <button class="btn btn-x4-sm">Giant Screens</button>
</div>

<h2>Medium, Responsive Buttons (Default Size)</h2>
<div class="box-padding align-center">
  <button class="btn">All Screens </button>
  <button class="btn btn-sm btn-x1-md">Tablets</button>
  <button class="btn btn-sm btn-x2-md">Laptops</button>
  <button class="btn btn-sm btn-x3-md">Wide Screens</button>
  <button class="btn btn-sm btn-x4-md">Giant Screens</button>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-8f8b607a45b23a152162bdc7eda70a29a374ad0e80d56d497334a969748d96af.js"></script>
  </body>
</html>
