<html lang="en" class="env-production components-checkboxes">
  <head>
    <meta charset="utf-8" />
    <title>Checkboxes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/fonts-5881104bf887626744d095b512790afa3b35ba291c38c13be696ff3a6d845c35b61e41b93374d398f9197fbdd80538cbde1a63b377b8fbb8b849595bd37c0f23.css" integrity="sha512-WIEQS/iHYmdE0JW1EnkK+js1uikcOME75pb/Om2EXDW2HkG5M3TTmPkZf73YBTjL3hpjs3e4+7i4SVlb03wPIw==" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/syntax-635739a3d982aae3e67fbe283045d9b9ed39cf2e4cbe23f79389c04509e42d86832799d3134333d214d5b5c23d991d66ba7927c3fdf875573a3f8034c433c5e4.css" integrity="sha512-Y1c5o9mCquPmf74oMEXZue05zy5MviP3k4nARQnkLYaDJ5nTE0Mz0hTVtcI9mR1munknw/34dVc6P4A0xDPF5A==" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/application-c0ab3b9dce4a9a8126f4d31bc7482e5c775f33ce8e0065aeaf1b59ef69f04f810fda7bc23dc5b87b2d1a9316d49fe67dcfa4dfecd00f6ef6fdfbdcb356d5b861.css" integrity="sha512-wKs7nc5KmoEm9NMbx0guXHdfM86OAGWurxtZ72nwT4EP2nvCPcW4ey0akxbUn+Z9z6Tf7NAPbvb9+9yzVtW4YQ==" crossorigin="anonymous">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Checkboxes</h1>

<hr />

<h2 id="inline-checkbox-lists">Inline Checkbox Lists</h2>
<p class="section-description">Useful when you want to group a series of checkboxes together on a single line.</p>

<ul class="input-list mb-30">
  
    <li class="input-item-inline">
      <input id="checkbox-inline-1" name="checkbox-list" type="checkbox" class="input input-checkbox" checked="" />
      <label for="checkbox-inline-1" class="input-label">Inline Label</label>
    </li>
  
    <li class="input-item-inline">
      <input id="checkbox-inline-2" name="checkbox-list" type="checkbox" class="input input-checkbox" />
      <label for="checkbox-inline-2" class="input-label">Inline Label</label>
    </li>
  
    <li class="input-item-inline">
      <input id="checkbox-inline-3" name="checkbox-list" type="checkbox" class="input input-checkbox" />
      <label for="checkbox-inline-3" class="input-label">Inline Label</label>
    </li>
  
    <li class="input-item-inline">
      <input id="checkbox-inline-4" name="checkbox-list" type="checkbox" class="input input-checkbox" />
      <label for="checkbox-inline-4" class="input-label">Inline Label</label>
    </li>
  
    <li class="input-item-inline">
      <input id="checkbox-inline-5" name="checkbox-list" type="checkbox" class="input input-checkbox" />
      <label for="checkbox-inline-5" class="input-label">Inline Label</label>
    </li>
  
</ul>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"input-list"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"input-item-inline"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"checkbox-id"</span> <span class="na">name=</span><span class="s">"checkbox-name"</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-checkbox"</span> <span class="na">checked</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"checkbox-id"</span> <span class="na">class=</span><span class="s">"input-label"</span><span class="nt">&gt;</span>Checkbox Label<span class="nt">&lt;/label&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="stacked-checkbox-lists">Stacked Checkbox Lists</h2>
<p class="section-description">Useful when you want to group a series of checkboxes together in a list (stacked by default).</p>

<div class="col-container mb-15 sm:mb-30">
  <div class="col col-100 sm:col-50 mb-15 sm:mb-0">
    <div class="rounded bg-white p-10 sm:p-15 md:p-20 lg:p-30">
      <ul class="input-list">
        
          <li class="input-item">
            <input id="checkbox-light-1" name="checkbox-list" type="checkbox" class="input input-checkbox" checked="" />
            <label for="checkbox-light-1" class="input-label">Nulla vitae elit libero, a pharetra augue.</label>
          </li>
        
          <li class="input-item">
            <input id="checkbox-light-2" name="checkbox-list" type="checkbox" class="input input-checkbox" />
            <label for="checkbox-light-2" class="input-label">Cras mattis consectetur purus sit amet fermentum.</label>
          </li>
        
          <li class="input-item">
            <input id="checkbox-light-3" name="checkbox-list" type="checkbox" class="input input-checkbox" />
            <label for="checkbox-light-3" class="input-label">Cum sociis natoque penatibus et magnis dis parturient montes.</label>
          </li>
        
          <li class="input-item">
            <input id="checkbox-light-4" name="checkbox-list" type="checkbox" class="input input-checkbox" />
            <label for="checkbox-light-4" class="input-label">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.</label>
          </li>
        
          <li class="input-item">
            <input id="checkbox-light-5" name="checkbox-list" type="checkbox" class="input input-checkbox" />
            <label for="checkbox-light-5" class="input-label">Donec id elit non mi porta gravida at eget metus.</label>
          </li>
        
      </ul>
    </div>
  </div>
  <div class="col col-100 sm:col-50">
    <div class="box-secondary p-10 sm:p-15 md:p-20 lg:p-30">
      <ul class="input-list">
        
          <li class="input-item">
            <input id="checkbox-dark-1" name="checkbox-list" type="checkbox" class="input input-checkbox" checked="" />
            <label for="checkbox-dark-1" class="input-label">Nulla vitae elit libero, a pharetra augue.</label>
          </li>
        
          <li class="input-item">
            <input id="checkbox-dark-2" name="checkbox-list" type="checkbox" class="input input-checkbox" />
            <label for="checkbox-dark-2" class="input-label">Cras mattis consectetur purus sit amet fermentum.</label>
          </li>
        
          <li class="input-item">
            <input id="checkbox-dark-3" name="checkbox-list" type="checkbox" class="input input-checkbox" />
            <label for="checkbox-dark-3" class="input-label">Cum sociis natoque penatibus et magnis dis parturient montes.</label>
          </li>
        
          <li class="input-item">
            <input id="checkbox-dark-4" name="checkbox-list" type="checkbox" class="input input-checkbox" />
            <label for="checkbox-dark-4" class="input-label">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.</label>
          </li>
        
          <li class="input-item">
            <input id="checkbox-dark-5" name="checkbox-list" type="checkbox" class="input input-checkbox" />
            <label for="checkbox-dark-5" class="input-label">Donec id elit non mi porta gravida at eget metus.</label>
          </li>
        
      </ul>
    </div>
  </div>
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"input-list"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"input-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"checkbox-id"</span> <span class="na">name=</span><span class="s">"checkbox-name"</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-checkbox"</span> <span class="na">checked</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"checkbox-id"</span> <span class="na">class=</span><span class="s">"input-label"</span><span class="nt">&gt;</span>Checkbox Label<span class="nt">&lt;/label&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="inverse-checkbox-lists">Inverse Checkbox Lists</h2>
<p class="section-description">Useful when the checkboxes are displayed on a dark background.</p>

<div class="box-secondary p-10 sm:p-15 md:p-20 lg:p-30 bg-gray-darker">
  <ul class="input-list">
    
      <li class="input-item">
        <input id="checkbox-inverse-1" name="checkbox-inverse-list" type="checkbox" class="input input-checkbox input-checkbox-inverse" checked="" />
        <label for="checkbox-inverse-1" class="input-label-inverse">Nulla vitae elit libero, a pharetra augue.</label>
      </li>
    
      <li class="input-item">
        <input id="checkbox-inverse-2" name="checkbox-inverse-list" type="checkbox" class="input input-checkbox input-checkbox-inverse" />
        <label for="checkbox-inverse-2" class="input-label-inverse">Cras mattis consectetur purus sit amet fermentum.</label>
      </li>
    
      <li class="input-item">
        <input id="checkbox-inverse-3" name="checkbox-inverse-list" type="checkbox" class="input input-checkbox input-checkbox-inverse" />
        <label for="checkbox-inverse-3" class="input-label-inverse">Cum sociis natoque penatibus et magnis dis parturient montes.</label>
      </li>
    
      <li class="input-item">
        <input id="checkbox-inverse-4" name="checkbox-inverse-list" type="checkbox" class="input input-checkbox input-checkbox-inverse" />
        <label for="checkbox-inverse-4" class="input-label-inverse">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.</label>
      </li>
    
      <li class="input-item">
        <input id="checkbox-inverse-5" name="checkbox-inverse-list" type="checkbox" class="input input-checkbox input-checkbox-inverse" />
        <label for="checkbox-inverse-5" class="input-label-inverse">Donec id elit non mi porta gravida at eget metus.</label>
      </li>
    
  </ul>
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"input-list"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"input-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"checkbox-id"</span> <span class="na">name=</span><span class="s">"checkbox-name"</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-checkbox input-checkbox-inverse"</span> <span class="na">checked</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"checkbox-id"</span> <span class="na">class=</span><span class="s">"input-label-inverse"</span><span class="nt">&gt;</span>Checkbox Inverse Label<span class="nt">&lt;/label&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="caution-checkbox-lists">Caution Checkbox Lists</h2>
<p class="section-description">Useful when you want to the user to proceed with caution about the choices they’re making.</p>

<ul class="input-list">
  
    <li class="input-item">
      <input id="checkbox-caution-1" name="checkbox-list" type="checkbox" class="input input-checkbox input-checkbox-caution" checked="" />
      <label for="checkbox-caution-1" class="input-label">Nulla vitae elit libero, a pharetra augue.</label>
    </li>
  
    <li class="input-item">
      <input id="checkbox-caution-2" name="checkbox-list" type="checkbox" class="input input-checkbox input-checkbox-caution" />
      <label for="checkbox-caution-2" class="input-label">Cras mattis consectetur purus sit amet fermentum.</label>
    </li>
  
    <li class="input-item">
      <input id="checkbox-caution-3" name="checkbox-list" type="checkbox" class="input input-checkbox input-checkbox-caution" />
      <label for="checkbox-caution-3" class="input-label">Cum sociis natoque penatibus et magnis dis parturient montes.</label>
    </li>
  
    <li class="input-item">
      <input id="checkbox-caution-4" name="checkbox-list" type="checkbox" class="input input-checkbox input-checkbox-caution" />
      <label for="checkbox-caution-4" class="input-label">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.</label>
    </li>
  
    <li class="input-item">
      <input id="checkbox-caution-5" name="checkbox-list" type="checkbox" class="input input-checkbox input-checkbox-caution" />
      <label for="checkbox-caution-5" class="input-label">Donec id elit non mi porta gravida at eget metus.</label>
    </li>
  
</ul>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"input-list"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"input-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"checkbox-id"</span> <span class="na">name=</span><span class="s">"checkbox-name"</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-checkbox input-checkbox-caution"</span> <span class="na">checked</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"checkbox-id"</span> <span class="na">class=</span><span class="s">"input-label"</span><span class="nt">&gt;</span>Checkbox Label<span class="nt">&lt;/label&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre></div></div>

<hr />

<h2 class="mb-20" id="checkboxes-nested-in-buttons">Checkboxes Nested in Buttons</h2>

<p><button class="btn btn-secondary mr-10 mb-10">
  <input type="checkbox" class="input input-checkbox mr-5" />
  Unchecked
</button>
<button class="btn btn-secondary mr-10 mb-10">
  <input type="checkbox" class="input input-checkbox mr-5" checked="" />
  Checked
</button>
<button class="btn btn-cta mr-10 mb-10">
  <input type="checkbox" class="input input-checkbox input-checkbox-inverse mr-5" />
  Inverse Unchecked
</button>
<button class="btn btn-cta mr-10 mb-10">
  <input type="checkbox" class="input input-checkbox input-checkbox-inverse mr-5" checked="" />
  Inverse Checked
</button></p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="c">&lt;!-- Secondary button with a checkbox in the unchecked state. --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-checkbox mr-5"</span> <span class="nt">/&gt;</span>
  Button Text
<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- CTA button with a checkbox in the checked state. --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-cta"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-checkbox input-checkbox-inverse mr-5"</span> <span class="na">checked</span> <span class="nt">/&gt;</span>
  Button Text
<span class="nt">&lt;/button&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="checkbox-switches">Checkbox-Switches</h2>
<p class="section-description">Switches are useful when the user has a choice to toggle on and off. Note: For the best UX, please make sure that the switch saves immediately each time it changes state.</p>

<div class="box h-60 mb-15 pt-20 pb-20 pl-15 pr-15 sm:pl-30 sm:pr-30">
  <div class="col-container-nowrap">
    <div class="components-checkboxes-switch-col col col-100 text-light ellipsis overflow-hidden white-space-nowrap">Praesent commodo cursus magna, vel scelerisque aenean eu leo quam pellentesque ornare sem lacinia quam.</div>
    <div class="col ml-15">
      <input type="checkbox" class="input input-switch" checked="" />
    </div>
  </div>
</div>
<div class="box-secondary h-60 pt-20 pb-20 pl-15 pr-15 sm:pl-30 sm:pr-30">
  <div class="col-container-nowrap">
    <div class="components-checkboxes-switch-col col col-100 text-light ellipsis overflow-hidden white-space-nowrap">Praesent commodo cursus magna, vel scelerisque aenean eu leo quam pellentesque ornare sem lacinia quam.</div>
    <div class="col ml-15">
      <input type="checkbox" class="input input-switch" />
    </div>
  </div>
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-switch"</span> <span class="nt">/&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="secondary-checkbox-switches">Secondary Checkbox-Switches</h2>
<p class="section-description">Useful when you don’t need to draw attention to the bright-red, off state.</p>

<div class="box h-60 mb-15 pt-20 pb-20 pl-15 pr-15 sm:pl-30 sm:pr-30">
  <div class="col-container-nowrap">
    <div class="components-checkboxes-switch-col col col-100 text-light ellipsis overflow-hidden white-space-nowrap">Praesent commodo cursus magna, vel scelerisque aenean eu leo quam pellentesque ornare sem lacinia quam.</div>
    <div class="col ml-15">
      <input type="checkbox" class="input input-switch-secondary" checked="" />
    </div>
  </div>
</div>
<div class="box-secondary h-60 pt-20 pb-20 pl-15 pr-15 sm:pl-30 sm:pr-30">
  <div class="col-container-nowrap">
    <div class="components-checkboxes-switch-col col col-100 text-light ellipsis overflow-hidden white-space-nowrap">Praesent commodo cursus magna, vel scelerisque aenean eu leo quam pellentesque ornare sem lacinia quam.</div>
    <div class="col ml-15">
      <input type="checkbox" class="input input-switch-secondary" />
    </div>
  </div>
</div>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-switch-secondary"</span> <span class="nt">/&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="warning-checkbox-switches">Warning Checkbox-Switches</h2>
<p class="section-description">Useful to communicate that your object is only partially connected, and it needs additional attention.</p>

<div class="box h-60 mb-15 pt-20 pb-20 pl-15 pr-15 sm:pl-30 sm:pr-30">
  <div class="col-container-nowrap">
    <div class="components-checkboxes-switch-col col col-100 text-light ellipsis overflow-hidden white-space-nowrap">Praesent commodo cursus magna, vel scelerisque aenean eu leo quam pellentesque ornare sem lacinia quam.</div>
    <div class="col ml-15">
      <input type="checkbox" class="input input-switch-secondary input-switch-warning" checked="" />
    </div>
  </div>
</div>
<div class="box-secondary h-60 pt-20 pb-20 pl-15 pr-15 sm:pl-30 sm:pr-30">
  <div class="col-container-nowrap">
    <div class="components-checkboxes-switch-col col col-100 text-light ellipsis overflow-hidden white-space-nowrap">Praesent commodo cursus magna, vel scelerisque aenean eu leo quam pellentesque ornare sem lacinia quam.</div>
    <div class="col ml-15">
      <input type="checkbox" class="input input-switch-secondary input-switch-warning" />
    </div>
  </div>
</div>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-switch-secondary input-switch-warning"</span> <span class="nt">/&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="checkbox-switch-sizes--screen--input-switch--smxl-">Checkbox-Switch Sizes <code class="language-html highlighter-rouge">.{ screen }-input-switch-{ sm..xl }</code></h2>
<p class="section-description">Each size can be used or altered at any breakpoint.</p>

<ul class="input-list">
  <li class="input-item">
    <input id="small-switch-on-sm" type="checkbox" class="input input-switch input-switch-sm center-obj" checked="" />
    <label for="small-switch-on-sm" class="text-sm text-light ml-5 medium">Small</label>
  </li>
  <li class="input-item">
    <input id="small-switch-on-md" type="checkbox" class="input input-switch center-obj" checked="" />
    <label for="small-switch-on-md" class="text-sm text-light ml-5 medium">Medium (Default)</label>
  </li>
  <li class="input-item">
    <input id="small-switch-on-lg" type="checkbox" class="input input-switch input-switch-lg center-obj" checked="" />
    <label for="small-switch-on-lg" class="text-sm text-light ml-5 medium">Large</label>
  </li>
  <li class="input-item">
    <input id="small-switch-on-xl" type="checkbox" class="input input-switch input-switch-xl center-obj" checked="" />
    <label for="small-switch-on-xl" class="text-sm text-light ml-5 medium">X-Large</label>
  </li>
</ul>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="c">&lt;!-- Input-Switch: Small --&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-switch input-switch-sm"</span> <span class="nt">/&gt;</span>

<span class="c">&lt;!-- Input-Switch: Medium (Default) --&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-switch"</span> <span class="nt">/&gt;</span>

<span class="c">&lt;!-- Input-Switch: Large --&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-switch input-switch-lg"</span> <span class="nt">/&gt;</span>

<span class="c">&lt;!-- Input-Switch: X-Large --&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">class=</span><span class="s">"input input-switch input-switch-xl"</span> <span class="nt">/&gt;</span>
</code></pre></div></div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-e3dde962b2e27e10cfeaa6835d79d46c979070d35f32e705c56f3349cb02623a2e0b94e2245a09cd5719c873d74bee4d3173ddf05190c9e12ef59789bae112e2.js" integrity="sha512-493pYrLifhDP6qaDXXnUbJeQcNNfMucFxW8zScsCYjouC5TiJFoJzVcZyHPXS+5NMXPd8FGQyeEu9ZeJuuES4g==" crossorigin="anonymous"></script>
  </body>
</html>
