<html lang="en" class="env-production components-empty-states">
  <head>
    <meta charset="utf-8" />
    <title>Empty States</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-04aa60b41f50c71df53233900ab3ac26b46ebaab3d3e076235408ea03c6f7bc3.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Empty States</h1>



<hr />

<div class="empty-container align-center">
  <p class="empty-txt">Welcome to Shipyard!<br /> Get started by creating your first project.</p>
  <button class="empty-cta btn btn-primary">Create Project</button>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-48388f9d1a4515faaca646b7dc161d1b5f180eff8706110fa0ed0a680671dd39.js"></script>
  </body>
</html>
