<html class="env-production components-empty-states">
  <head>
    <title>Empty States</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-416de5e514ede58e0e3e23b1ba86956a37ef18982051ea7e77c6870b1c13ba78.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Empty States</h1>



<hr />

<div class="empty-container align-center">
  <p class="empty-txt">Welcome to Shipyard!<br /> Get started by creating your first project.</p>
  <button class="empty-cta btn btn-primary">Create Project</button>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-6297f07041960c2e9d86681cc602dabc44d1fee410167d51395a15898c2d8360.js"></script>
  </body>
</html>
