<html>
  <head>
    <title>Shipyard Forms</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container"><h1>Shipyard Forms</h1>

<hr />

<div class="input-group">
  <label class="label">Textbox</label>
  <input type="text" class="input input-text" placeholder=".input-text" />
</div>
<div class="input-group">
  <label class="label">Textbox</label>
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>
<div class="input-group">
  <label class="label">Connected Textboxes</label>
  <input type="text" class="input input-text input-full input-text-connect-top" placeholder=".input-text-connect-top" />
  <input type="text" class="input input-text input-full input-text-connect-bottom" placeholder=".input-text-connect-bottom" />
</div>
<div class="input-group">
  <label class="label">Select Boxes</label>
  <div class="input-select-container">
    <select class="input input-select">
      <option class="input-option-placeholder">.input-select</option>
      
        <option>1</option>
      
        <option>2</option>
      
        <option>3</option>
      
        <option>4</option>
      
        <option>5</option>
      
        <option>6</option>
      
        <option>7</option>
      
        <option>8</option>
      
        <option>9</option>
      
        <option>10</option>
      
    </select>
  </div>
</div>
<div class="input-group">
  <h2>Switches</h2>
  <div class="col-container margin-top-xs">
    <div class="col col-20">
      <label class="label">Medium Switches</label>
      <button class="input-switch-md"></button>
      <button class="input-switch-md input-switch-true"></button>
      <button class="input-switch-md input-switch-false"></button>
    </div>
    <div class="col col-20">
      <label class="label">Small Switches</label>
      <button class="input-switch-sm"></button>
      <button class="input-switch-sm input-switch-true"></button>
      <button class="input-switch-sm input-switch-false"></button>
    </div>
  </div>
</div>

<hr />

<div class="input-group">
  <label class="label">Textbox</label>
  <p class="label-note">Some critically important notes about this field.</p>
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>

<hr />

<h2 class="margin-bottom-xs">Input Boxes</h2>
<div class="input-box">
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>

<hr />

<h2>Form Errors</h2>
<div class="form-error-container">
  <ul class="form-error-list">
    <li class="form-error-item">
      <span class="form-error-text">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</span>
    </li>
    <li class="form-error-item">
      <span class="form-error-text">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</span>
    </li>
    <li class="form-error-item">
      <span class="form-error-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
    </li>
  </ul>
</div>
</div>
    </div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
