<html lang="en" class="env-production components-forms">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-b2ebe183313844c6e3c490a8ed32b604e075e1b226f9fcfe8a7a7e656cd6f4b0.css" media="screen">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Forms</h1>



<hr />

<div class="input-group">
  <label class="label">Textbox</label>
  <input type="text" class="input input-text" placeholder=".input-text" />
</div>
<div class="input-group">
  <label class="label">Textbox</label>
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>
<div class="input-group">
  <label class="label">Connected Textboxes</label>
  <input type="text" class="input input-text input-full input-text-connect-top" placeholder=".input-text-connect-top" />
  <input type="text" class="input input-text input-full input-text-connect-middle" placeholder=".input-text-connect-middle" />
  <input type="text" class="input input-text input-full input-text-connect-bottom" placeholder=".input-text-connect-bottom" />
</div>
<div class="input-group">
  <label class="label">Select Boxes</label>
  <div class="input-select-container">
    <select class="input input-select">
      <option class="input-option-placeholder">.input-select</option>
      
        <option>1</option>
      
        <option>2</option>
      
        <option>3</option>
      
        <option>4</option>
      
        <option>5</option>
      
        <option>6</option>
      
        <option>7</option>
      
        <option>8</option>
      
        <option>9</option>
      
        <option>10</option>
      
    </select>
  </div>
</div>

<hr />

<div class="input-group">
  <label class="label">Textbox</label>
  <p class="label-note">Some critically important notes about this field.</p>
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>

<hr />

<h2 class="margin-bottom-xs">Input Boxes</h2>
<div class="input-box">
  <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
</div>

<hr />

<h2 class="margin-bottom-xs">Required Fields</h2>
<div class="col-container">
  <div class="col col-50">
    <div class="input-required">
      <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
    </div>
  </div>
  <div class="col col-50">
    <div class="input-required">
      <div class="input-select-container">
        <select class="input input-select">
          <option class="input-option-placeholder">.input-select</option>
          
            <option>1</option>
          
            <option>2</option>
          
            <option>3</option>
          
            <option>4</option>
          
            <option>5</option>
          
            <option>6</option>
          
            <option>7</option>
          
            <option>8</option>
          
            <option>9</option>
          
            <option>10</option>
          
        </select>
      </div>
    </div>
  </div>
</div>

<hr />

<h2 class="margin-bottom-xs">Form Errors</h2>
<div class="form-error-container">
  <ul class="form-error-list">
    <li class="form-error-item">
      <span class="form-error-text">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</span>
    </li>
    <li class="form-error-item">
      <span class="form-error-text">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</span>
    </li>
    <li class="form-error-item">
      <span class="form-error-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
    </li>
  </ul>
</div>
<div class="col-container margin-top-md margin-bottom-md">
  <div class="col col-50 input-error">
    <label class="label">Required Select Box</label>
    <div class="input-required">
      <div class="input-select-container">
        <select class="input input-select">
          <option class="input-option-placeholder">.input-select</option>
          
            <option>1</option>
          
            <option>2</option>
          
            <option>3</option>
          
            <option>4</option>
          
            <option>5</option>
          
            <option>6</option>
          
            <option>7</option>
          
            <option>8</option>
          
            <option>9</option>
          
            <option>10</option>
          
        </select>
      </div>
    </div>
  </div>
  <div class="col col-50 input-error">
    <label class="label">Required Textbox</label>
    <div class="input-required">
      <input type="text" class="input input-text input-full" placeholder=".input .input-text .input-full" />
    </div>
  </div>
</div>

<hr />
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-a29e09541cf2fb1aadbf1e10b34ee7725fed4a697fb2cf4e0116d6c55884da81.js"></script>
  </body>
</html>
