<html lang="en" class="env-production components-grid">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Grid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-bb9848c3392fcb971a2cabbcd9e45982d49444d41f6b07b50f713706fb7e0436.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Grid</h1>

<p class="text-light text-lg margin-top-sm">The grid is percentage-based and also entirely responsive. Each class needs the foundational <code class="highlighter-rouge">.col</code> class in order to function properly, and also should be contained inside the <code class="highlighter-rouge">.col-container</code> as well.</p>

<hr />

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    
    
      <div class="col col-20 align-center">
        <div class="box-secondary text-light text-sm strong">20</div>
      </div>
    
      <div class="col col-20 align-center">
        <div class="box-secondary text-light text-sm strong">20</div>
      </div>
    
      <div class="col col-20 align-center">
        <div class="box-secondary text-light text-sm strong">20</div>
      </div>
    
      <div class="col col-20 align-center">
        <div class="box-secondary text-light text-sm strong">20</div>
      </div>
    
      <div class="col col-20 align-center">
        <div class="box-secondary text-light text-sm strong">20</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    
    
      <div class="col col-25 align-center">
        <div class="box-secondary text-light text-sm strong">25</div>
      </div>
    
      <div class="col col-25 align-center">
        <div class="box-secondary text-light text-sm strong">25</div>
      </div>
    
      <div class="col col-25 align-center">
        <div class="box-secondary text-light text-sm strong">25</div>
      </div>
    
      <div class="col col-25 align-center">
        <div class="box-secondary text-light text-sm strong">25</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    
    
      <div class="col col-33 align-center">
        <div class="box-secondary text-light text-sm strong">33</div>
      </div>
    
      <div class="col col-33 align-center">
        <div class="box-secondary text-light text-sm strong">33</div>
      </div>
    
      <div class="col col-33 align-center">
        <div class="box-secondary text-light text-sm strong">33</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
  <div class="col col-66 align-center">
    <div class="box-secondary text-light text-sm strong">66</div>
  </div>
  <div class="col col-33 align-center">
    <div class="box-secondary text-light text-sm strong">33</div>
  </div>
</div>

<hr />

<h3 id="column-sizes-col--n-">Column Sizes <code class="highlighter-rouge">.col-{ n }</code></h3>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-50 align-center">
      <div class="box-secondary text-light text-sm strong">50</div>
    </div>
    
      <div class="col col-50 align-center">
        <div class="box-secondary text-light text-sm strong">50</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-55 align-center">
      <div class="box-secondary text-light text-sm strong">55</div>
    </div>
    
      <div class="col col-45 align-center">
        <div class="box-secondary text-light text-sm strong">45</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-60 align-center">
      <div class="box-secondary text-light text-sm strong">60</div>
    </div>
    
      <div class="col col-40 align-center">
        <div class="box-secondary text-light text-sm strong">40</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-65 align-center">
      <div class="box-secondary text-light text-sm strong">65</div>
    </div>
    
      <div class="col col-35 align-center">
        <div class="box-secondary text-light text-sm strong">35</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-70 align-center">
      <div class="box-secondary text-light text-sm strong">70</div>
    </div>
    
      <div class="col col-30 align-center">
        <div class="box-secondary text-light text-sm strong">30</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-75 align-center">
      <div class="box-secondary text-light text-sm strong">75</div>
    </div>
    
      <div class="col col-25 align-center">
        <div class="box-secondary text-light text-sm strong">25</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-80 align-center">
      <div class="box-secondary text-light text-sm strong">80</div>
    </div>
    
      <div class="col col-20 align-center">
        <div class="box-secondary text-light text-sm strong">20</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-85 align-center">
      <div class="box-secondary text-light text-sm strong">85</div>
    </div>
    
      <div class="col col-15 align-center">
        <div class="box-secondary text-light text-sm strong">15</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-90 align-center">
      <div class="box-secondary text-light text-sm strong">90</div>
    </div>
    
      <div class="col col-10 align-center">
        <div class="box-secondary text-light text-sm strong">10</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-95 align-center">
      <div class="box-secondary text-light text-sm strong">95</div>
    </div>
    
      <div class="col col-5 align-center">
        <div class="box-secondary text-light text-sm strong">5</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-100 align-center">
      <div class="box-secondary text-light text-sm strong">100</div>
    </div>
    
  </div>

<hr />

<h3 id="offset-columns-col-offset--n-">Offset Columns <code class="highlighter-rouge">.col-offset-{ n }</code></h3>
<p class="text-light margin-bottom-sm">Useful when you need to push columns to the right to fill some empty space.</p>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-25 align-center">
      <div class="box-secondary text-light text-sm strong">25</div>
    </div>
    
      <div class="col col-20 col-offset-55 align-center">
        <div class="box-secondary text-light text-sm strong">offset 55</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-35 align-center">
      <div class="box-secondary text-light text-sm strong">35</div>
    </div>
    
      <div class="col col-20 col-offset-45 align-center">
        <div class="box-secondary text-light text-sm strong">offset 45</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-45 align-center">
      <div class="box-secondary text-light text-sm strong">45</div>
    </div>
    
      <div class="col col-20 col-offset-35 align-center">
        <div class="box-secondary text-light text-sm strong">offset 35</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-50 align-center">
      <div class="box-secondary text-light text-sm strong">50</div>
    </div>
    
      <div class="col col-20 col-offset-30 align-center">
        <div class="box-secondary text-light text-sm strong">offset 30</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-55 align-center">
      <div class="box-secondary text-light text-sm strong">55</div>
    </div>
    
      <div class="col col-20 col-offset-25 align-center">
        <div class="box-secondary text-light text-sm strong">offset 25</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-60 align-center">
      <div class="box-secondary text-light text-sm strong">60</div>
    </div>
    
      <div class="col col-20 col-offset-20 align-center">
        <div class="box-secondary text-light text-sm strong">offset 20</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-65 align-center">
      <div class="box-secondary text-light text-sm strong">65</div>
    </div>
    
      <div class="col col-20 col-offset-15 align-center">
        <div class="box-secondary text-light text-sm strong">offset 15</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-70 align-center">
      <div class="box-secondary text-light text-sm strong">70</div>
    </div>
    
      <div class="col col-20 col-offset-10 align-center">
        <div class="box-secondary text-light text-sm strong">offset 10</div>
      </div>
    
  </div>

<div class="col-container margin-top-xs margin-top-x1-sm margin-top-x2-md">
    <div class="col col-75 align-center">
      <div class="box-secondary text-light text-sm strong">75</div>
    </div>
    
      <div class="col col-20 col-offset-5 align-center">
        <div class="box-secondary text-light text-sm strong">offset 5</div>
      </div>
    
  </div>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-8f8b607a45b23a152162bdc7eda70a29a374ad0e80d56d497334a969748d96af.js"></script>
  </body>
</html>
