<html>
  <head>
    <title>Shipyard</title>
    <link rel="stylesheet" media="all" href="/assets/css/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/">Shipyard</a></h6>
        <ul>
          <li><a href="/">Overview</a></li>
          <li><a href="/components">Components</a></li>
          <li><a href="/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container"><h1>Shipyard Grid</h1>

<hr />


  <div class="col-container margin-top-md">
    
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
      <div class="col col-10 align-center">
        <div class="box text-lighter">10</div>
      </div>
    
  </div>

  <div class="col-container margin-top-md">
    
    
      <div class="col col-20 align-center">
        <div class="box text-lighter">20</div>
      </div>
    
      <div class="col col-20 align-center">
        <div class="box text-lighter">20</div>
      </div>
    
      <div class="col col-20 align-center">
        <div class="box text-lighter">20</div>
      </div>
    
      <div class="col col-20 align-center">
        <div class="box text-lighter">20</div>
      </div>
    
      <div class="col col-20 align-center">
        <div class="box text-lighter">20</div>
      </div>
    
  </div>

  <div class="col-container margin-top-md">
    
    
      <div class="col col-25 align-center">
        <div class="box text-lighter">25</div>
      </div>
    
      <div class="col col-25 align-center">
        <div class="box text-lighter">25</div>
      </div>
    
      <div class="col col-25 align-center">
        <div class="box text-lighter">25</div>
      </div>
    
      <div class="col col-25 align-center">
        <div class="box text-lighter">25</div>
      </div>
    
  </div>

  <div class="col-container margin-top-md">
    
    
      <div class="col col-33 align-center">
        <div class="box text-lighter">33</div>
      </div>
    
      <div class="col col-33 align-center">
        <div class="box text-lighter">33</div>
      </div>
    
      <div class="col col-33 align-center">
        <div class="box text-lighter">33</div>
      </div>
    
  </div>

</div>
    </div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
