<html lang="en" class="env-production components-icons">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-a0dcca099eb051cf0ad4751aa8c7034b3c92a365612e0b24b2f704263a939897.css" media="screen">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Icons</h1>

<p class="text-light text-lg margin-top-sm">Shipyard comes with several default icons that you’re welcome to use on any project. Each icon has been designed on a pixel grid at the small size possible, but can be scaled up to any size you like simply by changing the <code class="language-html highlighter-rouge">width</code> and <code class="language-html highlighter-rouge">height</code> in the CSS.</p>

<hr />

<h3 id="common-icons">Common Icons</h3>
<p class="section-description">The following icons are the most frequently used in just about any application.</p>

<ul class="icon-list col-container">
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":plus">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-plus icon-outline center" viewBox="0 0 6 6" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#plus"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":restart">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-restart icon-outline center" viewBox="0 0 22 22" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#restart"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gear">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gear icon-outline center" viewBox="0 0 8 8" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gear"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":lock">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-lock center" viewBox="0 0 12 14" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#lock"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":card">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-card center" viewBox="0 0 16 14" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#card"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":tag">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-tag center" viewBox="0 0 14 14" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#tag"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":x">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-x icon-outline center" viewBox="0 0 6 6" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#x"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":arrow_up">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-arrow-up icon-outline center" viewBox="0 0 10 6" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#arrow-up"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":arrow_down">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-arrow-down icon-outline center" viewBox="0 0 10 6" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#arrow-down"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":arrow_left">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-arrow-left icon-outline center" viewBox="0 0 6 10" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#arrow-left"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":arrow_right">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-arrow-right icon-outline center" viewBox="0 0 6 10" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#arrow-right"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":check">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-check icon-outline center" viewBox="0 0 8 8" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#check"></use></svg>
          </div>
        </li>
      
</ul>

<hr />

<h3 id="brand-icons">Brand Icons</h3>
<p class="section-description">If you need to style several paths inside of the icon, it’s important to make sure you use the <em>injected</em> version of the icon.</p>

<ul class="icon-list col-container">
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip="'bitbucket-white'">
          <div class="box box-md box-x1-xxl bg-gray">
            <svg class="icon icon-bitbucket-white center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><defs><linearGradient id="bitbucket-white-gradient" x1="16.36" y1="6.99" x2="3.79" y2="16.81" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff" stop-opacity="0.3" /><stop offset="0.6" stop-color="#fff" /></linearGradient></defs><path class="icon-bitbucket-white" fill="#fff" d="M6.35,10.35l-.9-4.71h9.86L16,1.4a.51.51,0,0,0-.41-.58H.52a.51.51,0,0,0-.52.5H0V1.4L2.18,14.61a.7.7,0,0,0,.23.41Z" /><path class="icon-bitbucket-white-gradient" fill="url(#bitbucket-white-gradient)" d="M9.68,10.35H6.35L2.18,14.61a.7.7,0,0,0,.23.41h0a.8.8,0,0,0,.27.15l.18,0H13.3a.51.51,0,0,0,.52-.43l1.49-9.12H10.45Z" /></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip="'bitbucket'">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-bitbucket center gray icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><defs><linearGradient id="bitbucket-gradient" x1="16.42" y1="9.04" x2="8.46" y2="2.83" gradientTransform="matrix(1, 0, 0, -1, 0, 16)" gradientUnits="userSpaceOnUse"><stop offset="0.18" stop-color="rgba(0,0,0,.35)" /><stop offset="1" stop-color="rgba(0,0,0,0)" /></linearGradient></defs><path class="icon-bitbucket" d="M.52.81a.51.51,0,0,0-.52.5A.28.28,0,0,0,0,1.4L2.18,14.61a.69.69,0,0,0,.68.58H13.3a.51.51,0,0,0,.52-.43L16,1.4a.5.5,0,0,0-.42-.58H.52Zm9.16,9.54H6.35l-.9-4.71h5Z" /><path class="icon-bitbucket-gradient" fill="url(#bitbucket-gradient)" d="M15.3,5.64H10.49l-.81,4.71H6.35L2.42,15a.66.66,0,0,0,.44.17H13.31a.51.51,0,0,0,.51-.43Z" /></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip="'bitbucket-color'">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-bitbucket-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><defs><linearGradient id="bitbucket-color-gradient" x1="16.42" y1="9.04" x2="8.46" y2="2.83" gradientTransform="matrix(1, 0, 0, -1, 0, 16)" gradientUnits="userSpaceOnUse"><stop offset="0.18" stop-color="#0052cc" /><stop offset="1" stop-color="#2684ff" /></linearGradient></defs><path class="icon-bitbucket-color" fill="#2684ff" d="M.52.81a.51.51,0,0,0-.52.5A.28.28,0,0,0,0,1.4L2.18,14.61a.69.69,0,0,0,.68.58H13.3a.51.51,0,0,0,.52-.43L16,1.4a.5.5,0,0,0-.42-.58H.52Zm9.16,9.54H6.35l-.9-4.71h5Z" /><path class="icon-bitbucket-color-gradient" fill="url(#bitbucket-color-gradient)" d="M15.3,5.64H10.49l-.81,4.71H6.35L2.42,15a.66.66,0,0,0,.44.17H13.31a.51.51,0,0,0,.51-.43Z" /></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":campfire_color">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-campfire-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#campfire-color"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":codeship">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-codeship icon-outline center icon-xl" viewBox="0 0 180 30" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#codeship"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":email_color">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-email-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#email-color"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":flowdock_color">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-flowdock-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#flowdock-color"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":github">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-github center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#github"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gitlab">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gitlab center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gitlab"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gitlab_color">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gitlab-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gitlab-color"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":google_app_engine">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-google-app-engine center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#google-app-engine"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":grove_color">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-grove-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#grove-color"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":hipchat">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-hipchat center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#hipchat"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":hipchat_color">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-hipchat-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#hipchat-color"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":slack">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-slack center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#slack"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":slack_color">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-slack-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#slack-color"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":webhook">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-webhook center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#webhook"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":webhook_color">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-webhook-color center icon-xl" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#webhook-color"></use></svg>
          </div>
        </li>
      
</ul>

<hr />

<h3 id="multi-color-icons">Multi-color Icons</h3>
<p class="section-description">If you need to style several paths inside of the icon, it’s important to make sure you use the <em>injected</em> version of the icon.</p>

<ul class="icon-list col-container">
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip="'email-color'">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-email-color icon-xl center" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin meet"><path fill="#e06158" d="M13,10.2l0,0c-.48.18-1.06-.06-1.63-.62V5.37a1,1,0,0,0-.65-.94c-2-.75-3.84-.69-5.09.18A4,4,0,0,0,4,8a3.89,3.89,0,0,0,2.17,3.66A3.82,3.82,0,0,0,7.8,12a4.79,4.79,0,0,0,2.43-.71,3.62,3.62,0,0,0,2.77.94ZM9.33,9.52A2.38,2.38,0,0,1,7,9.85,1.92,1.92,0,0,1,6,8a2.05,2.05,0,0,1,.75-1.75A2.28,2.28,0,0,1,8,5.91a5,5,0,0,1,1.29.19Z" /><path fill="#ff9f49" d="M12.22,3.76m1.44-1.41-1.43,1.4A6,6,0,0,1,14,8a2.3,2.3,0,0,1-1,2.2v2.05a2.93,2.93,0,0,0,.65-.16C15.1,11.56,16,10,16,8A8,8,0,0,0,13.65,2.35Z" /><path fill="#ffca49" d="M3.76,3.76,2.35,2.35a8,8,0,0,1,11.31,0l-1.43,1.4a6,6,0,0,0-8.47,0Z" /><path fill="#3acc7c" d="M2,8A6,6,0,0,1,3.76,3.76L2.35,2.35a8,8,0,0,0,0,11.31l1.41-1.41A6,6,0,0,1,2,8Z" /><path fill="#1ca1e3" d="M2.35,13.65a8,8,0,0,0,9.41,1.41,1,1,0,0,0-.94-1.77,6,6,0,0,1-7.05-1.06Z" /></svg>
          </div>
        </li>
      
</ul>
<div class="language-erb highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="cp">&lt;%=</span> <span class="n">icon</span> <span class="s1">'email-color'</span> <span class="cp">%&gt;</span>
</code></pre></div></div>

<hr />

<h3 id="icon-sizes">Icon Sizes</h3>
<p class="section-description">The icon size utility classes can be applied to any icon, and are useful when you want to override the default icon size.</p>

<ul class="icon-list col-container">
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gear">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gear icon-outline center icon-xxs" viewBox="0 0 8 8" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gear"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gear">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gear icon-outline center icon-xs" viewBox="0 0 8 8" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gear"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gear">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gear icon-outline center icon-sm" viewBox="0 0 8 8" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gear"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gear">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gear icon-outline center icon-md" viewBox="0 0 8 8" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gear"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gear">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gear icon-outline center icon-lg" viewBox="0 0 8 8" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gear"></use></svg>
          </div>
        </li>
      
  
        <li class="col col-50 col-x1-20 margin-bottom-xs margin-bottom-x1-md margin-bottom-x2-lg" tooltip=":gear">
          <div class="box box-md box-x1-xxl ">
            <svg class="icon icon-gear icon-outline center icon-xl" viewBox="0 0 8 8" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#gear"></use></svg>
          </div>
        </li>
      
</ul>

<div class="language-erb highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="cp">&lt;%=</span> <span class="n">icon</span> <span class="ss">:gear</span><span class="p">,</span> <span class="ss">class: </span><span class="s1">'icon-xxs'</span> <span class="cp">%&gt;</span>
<span class="cp">&lt;%=</span> <span class="n">icon</span> <span class="ss">:gear</span><span class="p">,</span> <span class="ss">class: </span><span class="s1">'icon-xs'</span> <span class="cp">%&gt;</span>
<span class="cp">&lt;%=</span> <span class="n">icon</span> <span class="ss">:gear</span><span class="p">,</span> <span class="ss">class: </span><span class="s1">'icon-sm'</span> <span class="cp">%&gt;</span>
<span class="cp">&lt;%=</span> <span class="n">icon</span> <span class="ss">:gear</span><span class="p">,</span> <span class="ss">class: </span><span class="s1">'icon-md'</span> <span class="cp">%&gt;</span>
<span class="cp">&lt;%=</span> <span class="n">icon</span> <span class="ss">:gear</span><span class="p">,</span> <span class="ss">class: </span><span class="s1">'icon-lg'</span> <span class="cp">%&gt;</span>
<span class="cp">&lt;%=</span> <span class="n">icon</span> <span class="ss">:gear</span><span class="p">,</span> <span class="ss">class: </span><span class="s1">'icon-xl'</span> <span class="cp">%&gt;</span>
</code></pre></div></div>

<hr />

<h3 id="centered-icons">Centered Icons</h3>
<p class="section-description">One of the most common problems when using an icon is that doesn’t line up with the text content next to it. Don’t worry though, we’ve got you covered — simply apply the <code class="language-html highlighter-rouge">.align-middle</code> class to any icon to fix this issue.</p>

<div class="margin-bottom-lg">
  <button class="btn btn-secondary"><svg class="icon icon-plus icon-outline align-middle icon-sm margin-right-xxs" viewBox="0 0 6 6" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#plus"></use></svg> Create</button>
</div>

<div class="language-erb highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary"</span><span class="nt">&gt;</span>
  <span class="cp">&lt;%=</span> <span class="n">icon</span> <span class="ss">:plus</span><span class="p">,</span> <span class="ss">class: </span><span class="s1">'align-middle icon-sm'</span> <span class="cp">%&gt;</span>
  Create
<span class="nt">&lt;/button&gt;</span>
</code></pre></div></div>

<hr />

<ul class="col-container">
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Gzipped Size</span>
    <span class="text-xxxl strong text-darker">697 <span class="text-lightest">B</span></span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Declarations</span>
    <span class="text-xxxl strong text-darker">55</span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Selectors</span>
    <span class="text-xxxl strong text-darker">80</span>
  </li>
</ul>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-5ab9446545f2cb68cfd0d19be4702200d8390ba876c5de7a929c93f05a68b866.js"></script>
  </body>
</html>
