<html>
  <head>
    <title>Shipyard Components</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container"><h1>Shipyard Components</h1>
<hr />
<ul class="list">
  
    <li>
      <a href="/shipyard/components/grid">
        Grid
      </a>
    </li>
  
    <li>
      <a href="/shipyard/components/boxes">
        Boxes
      </a>
    </li>
  
    <li>
      <a href="/shipyard/components/buttons">
        Buttons
      </a>
    </li>
  
    <li>
      <a href="/shipyard/components/empty-states">
        Empty States
      </a>
    </li>
  
    <li>
      <a href="/shipyard/components/alerts">
        Alerts
      </a>
    </li>
  
    <li>
      <a href="/shipyard/components/forms">
        Forms
      </a>
    </li>
  
    <li>
      <a href="/shipyard/components/icons">
        Icons
      </a>
    </li>
  
    <li>
      <a href="/shipyard/components/modals">
        Modals
      </a>
    </li>
  
    <li>
      <a href="/shipyard/components/tooltips">
        Tooltips
      </a>
    </li>
  
</ul>
</div>
    </div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
