<html>
  <head>
    <title>Shipyard Components</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Components</h1>



<hr />

<ul class="col-container">
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/grid" class="box-link box-padding align-center text-xl">
        Grid
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/boxes" class="box-link box-padding align-center text-xl">
        Boxes
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/buttons" class="box-link box-padding align-center text-xl">
        Buttons
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/empty-states" class="box-link box-padding align-center text-xl">
        Empty States
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/alerts" class="box-link box-padding align-center text-xl">
        Alerts
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/notes" class="box-link box-padding align-center text-xl">
        Notes
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/forms" class="box-link box-padding align-center text-xl">
        Forms
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/icons" class="box-link box-padding align-center text-xl">
        Icons
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/modals" class="box-link box-padding align-center text-xl">
        Modals
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/tooltips" class="box-link box-padding align-center text-xl">
        Tooltips
      </a>
    </li>
  
    <li class="margin-bottom-xs margin-bottom-x1-sm margin-bottom-x2-lg col col-100 col-x1-25">
      <a href="/shipyard/components/code" class="box-link box-padding align-center text-xl">
        Code
      </a>
    </li>
  
</ul>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
