<html>
  <head>
    <title>Shipyard</title>
    <link rel="stylesheet" media="all" href="/assets/css/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/">Shipyard</a></h6>
        <ul>
          <li><a href="/">Overview</a></li>
          <li><a href="/components">Components</a></li>
          <li><a href="/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container"><h2>Components</h2>
<ul>
  
    <li><a href="/components/grid">Grid</a></li>
  
    <li><a href="/components/boxes">Boxes</a></li>
  
    <li><a href="/components/buttons">Buttons</a></li>
  
    <li><a href="/components/alerts">Alerts</a></li>
  
    <li><a href="/components/forms">Forms</a></li>
  
    <li><a href="/components/icons">Icons</a></li>
  
    <li><a href="/components/modals">Modals</a></li>
  
    <li><a href="/components/tooltips">Tooltips</a></li>
  
</ul>
</div>
    </div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
