<html>
  <head>
    <title>Shipyard Modals</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container"><h1>Shipyard Modals</h1>
<p class="text-light text-lg">
  Modals are triggered by applying the following attribute to any button or link
  (e.g. <code class="code">modal="login"</code>).
</p>

<hr />

<div class="box-padding align-center">
  <button class="btn btn-secondary btn-margin">Trigger Modal</button>
</div>
</div>
    </div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
