<html lang="en" class="env-production components-notes">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-39946346d1430863667352df71d045cb34872f0c81791294948239a30576eab4.css" media="screen">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Notes</h1>

<p class="text-light text-lg margin-top-sm">Notes should be used to grab a user’s attention along side of other content.</p>

<hr />

<h3 id="default-note">Default <code class="language-html highlighter-rouge">.note</code></h3>
<p class="text-light margin-bottom-sm">Used to display notes, tips, and other non-critical information.</p>

<div class="note"><p>
    Ten other people are also viewing tickets for <a href="#">this flight</a>.
    Use the code <code class="language-html highlighter-rouge">Travel_Light_2017</code> before you book your flight.
  </p>
  <button class="note-cta btn btn-sm">Call to Action</button></div>

<hr />

<h3 id="info-note-info">Info <code class="language-html highlighter-rouge">.note-info</code></h3>
<p class="text-light margin-bottom-sm">Useful when drawing attention to non-critical information or actions we want the user to take.</p>

<div class="note note-info "><p>
    Ten other people are also viewing tickets for <a href="#">this flight</a>.
    Use the code <code class="language-html highlighter-rouge">Travel_Light_2017</code> before you book your flight.
  </p>
  <button class="note-cta btn btn-sm">Call to Action</button></div>

<hr />

<h3 id="success-note-success">Success <code class="language-html highlighter-rouge">.note-success</code></h3>
<p class="text-light margin-bottom-sm">Useful when drawing attention to interactions that have produced successful results.</p>

<div class="note note-success "><p>
    Pack your bags! You’ll be on the next flight to Hawaii.
    Use the code <code class="language-html highlighter-rouge">Travel_Light_2017</code> on your next flight. In the meantime you can <a href="#">invite a friend</a> to this flight.
  </p>
  <button class="note-cta btn btn-sm">Call to Action</button></div>

<hr />

<h3 id="warning-note-warning">Warning <code class="language-html highlighter-rouge">.note-warning</code></h3>
<p class="text-light margin-bottom-sm">Useful when drawing attention to critical information.</p>

<div class="note note-warning "><p>
    There are only 2 seats left on this flight! We recommend to <a href="#">book your tickets</a> as soon as possible.
    Use the code <code class="language-html highlighter-rouge">Travel_Light_2017</code> before you book your flight.
  </p>
  <button class="note-cta btn btn-sm">Call to Action</button></div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-48388f9d1a4515faaca646b7dc161d1b5f180eff8706110fa0ed0a680671dd39.js"></script>
  </body>
</html>
