<html lang="en" class="env-production components-tables">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/fonts-741e0a584d1ddf78d74a6515dd13539beed52995bb606252513e75acec1139a5.css" integrity="sha256-dB4KWE0d33jXSmUV3RNTm+7VKZW7YGJSUT51rOwROaU=" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/syntax-17391133ecf77cd03b889aa97e37910e5bd85faf7a72b7aee9c9b5b27d167cc3.css" integrity="sha256-FzkRM+z3fNA7iJqpfjeRDlvYX696creu6cm1sn0WfMM=" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/application-f67ab4c332b39f29f55be565929192777091f8f77f22f8e59860e27dcfe3d6a4.css" integrity="sha256-9nq0wzKznyn1W+VlkpGSd3CR+Pd/IvjlmGDifc/j1qQ=" crossorigin="anonymous">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Tables</h1>

<p class="text-light text-lg mt-15">Tables are useful for tabular data and can be used simple by applying the <code class="language-html highlighter-rouge">.table</code> class to any table you’re working on.</p>

<hr />

<table class="table">
  <thead>
    <th>Flight #</th>
    <th>Airline</th>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Notes</th>
  </thead>
  <tbody>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
  </tbody>
</table>

<hr />

<ul class="col-container">
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Gzipped Size</span>
    <span class="text-xxxl bold text-darker">225 <span class="text-lightest">B</span></span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Declarations</span>
    <span class="text-xxxl bold text-darker">8</span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Selectors</span>
    <span class="text-xxxl bold text-darker">11</span>
  </li>
</ul>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script src="/shipyard/assets/application-4d62f28dc3c016018b6d1fb7f41ccd4b50f61685bc839e0567d7812cdfaea434.js" integrity="sha256-TWLyjcPAFgGLbR+39BzNS1D2FoW8g54FZ9eBLN+upDQ=" crossorigin="anonymous" type="text/javascript"></script>
  </body>
</html>
