<html lang="en" class="env-production components-tables">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" integrity="sha256-ykLyqEsmScn8zNFsxR+20fkVuioJiNMLkcO4TYcis2k=" crossorigin="anonymous" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css">
    <link media="screen" rel="stylesheet" type="text/css" integrity="sha256-QCZr3H/ZlbjN2u7as4F9ePzFrtGJsdaiOmgntDe3FIg=" crossorigin="anonymous" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css">
    <link media="screen" rel="stylesheet" type="text/css" integrity="sha256-wPPb1tChfLqc2BUpUrWoVkn+MobbDqRzuHrAzowXr7Q=" crossorigin="anonymous" href="/shipyard/assets/application-c0f3dbd6d0a17cba9cd8152952b5a85649fe3286db0ea473b87ac0ce8c17afb4.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Tables</h1>

<p class="text-light text-lg mt-15">Tables are useful for tabular data and can be used simple by applying the <code class="language-html highlighter-rouge">.table</code> class to any table you’re working on.</p>

<hr />

<table class="table">
  <thead>
    <th>Flight #</th>
    <th>Airline</th>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Notes</th>
  </thead>
  <tbody>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
      <tr>
        <td>FR1890</td>
        <td>AirFrance</td>
        <td>8:00pm @ BOS</td>
        <td>10:30am @ CDG</td>
        <td>On Time</td>
      </tr>
    
  </tbody>
</table>

<hr />

<ul class="col-container">
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Gzipped Size</span>
    <span class="text-xxxl strong text-darker">224 <span class="text-lightest">B</span></span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Declarations</span>
    <span class="text-xxxl strong text-darker">8</span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter display-block">Selectors</span>
    <span class="text-xxxl strong text-darker">11</span>
  </li>
</ul>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-cd155d7ea62fc14fbd29945e183d8a560eef7e0148fecfe3e70a042b04ae7ce6.js" integrity="sha256-zRVdfqYvwU+9KZReGD2KVg7vfgFI/s/j5woEKwSufOY=" crossorigin="anonymous"></script>
  </body>
</html>
