<html lang="en" class="env-production components-tooltips">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Tooltips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-ac844617219d6b689f0ab498507f6c13c2f29917a64381184356553ed281b152.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Tooltips</h1>

<p class="text-light text-lg margin-top-sm">Tooltips are used primarily by setting the tooltip attribute on any element (e.g. <code class="highlighter-rouge">tooltip="..."</code>).</p>

<hr />

<div class="align-center">
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Default Tooltip</button>
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Top</button>
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Bottom</button>
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Left</button>
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Right</button>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-48388f9d1a4515faaca646b7dc161d1b5f180eff8706110fa0ed0a680671dd39.js"></script>
  </body>
</html>
