<html>
  <head>
    <title>Shipyard Tooltips</title>
    <link rel="stylesheet" media="all" href="/shipyard/assets/css/application.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/shipyard/">Shipyard</a></h6>
        <ul>
          <li><a href="/shipyard/">Overview</a></li>
          <li><a href="/shipyard/components">Components</a></li>
          <li><a href="/shipyard/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Tooltips</h1>
<p class="text-light text-lg">
  Tooltips are used primarily by setting the tooltip attribute on any element
  (e.g. <code class="code-inline">tooltip="..."</code>).
</p>

<hr />

<div class="box-padding align-center">
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Default Tooltip</button>
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Top</button>
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Bottom</button>
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Left</button>
  <button tooltip="What a lovely tooltip" class="btn btn-secondary btn-margin">Right</button>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
