---
---
<html>
  <head>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" media="all" href="/assets/css/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h6><a href="/">{{ site.title }}</a></h6>
        <ul>
          <li><a href="/">Overview</a></li>
          <li><a href="/components">Components</a></li>
          <li><a href="/utilities">Utilities</a></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">{{ content }}</div>
    </div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
  </body>
</html>
