<html lang="en" class="env-production components-modals-example-tall">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Modals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" integrity="sha256-ykLyqEsmScn8zNFsxR+20fkVuioJiNMLkcO4TYcis2k=" crossorigin="anonymous" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css">
    <link media="screen" rel="stylesheet" type="text/css" integrity="sha256-QCZr3H/ZlbjN2u7as4F9ePzFrtGJsdaiOmgntDe3FIg=" crossorigin="anonymous" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css">
    <link media="screen" rel="stylesheet" type="text/css" integrity="sha256-flHRojFQ1OY9k53kNmsOxzwMOEtJ2Ui8bXyusAMCYPA=" crossorigin="anonymous" href="/shipyard/assets/application-7e51d1a23150d4e63d939de4366b0ec73c0c384b49d948bc6d7caeb0030260f0.css">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Modals</h1>


<div class="modal-container z-200 " modal="example">
  <div class="modal" role="dialog">
    <div class="modal-content">
      <div class="modal-title-border sm:mb-20">
        <h1 class="text-lg sm:text-xl">Billing Info</h1>
      </div>
      <form>
        <div class="col-container mb-20">
          <div class="col">
            <label class="label">First Name</label>
            <div class="input-required">
              <input type="text" class="input input-text" />
            </div>
          </div>
          <div class="col">
            <label class="label">Last Name</label>
            <div class="input-required">
              <input type="text" class="input input-text" />
            </div>
          </div>
        </div>
        <div class="col-container mb-20">
          <div class="col col-100 sm:col-50 mb-15 sm:mb-0">
            <label class="label">Email Address</label>
            <input type="text" class="input input-text" />
          </div>
          <div class="col col-100 sm:col-50">
            <label class="label">Phone Number</label>
            <div class="input-required">
              <input type="text" class="input input-text" />
            </div>
          </div>
        </div>
        <div class="col-container mb-20">
          <div class="col col-100 mb-15">
            <label class="label">Billing Address</label>
            <input type="text" class="input input-text" placeholder="Company Name" />
          </div>
          <div class="col col-100 mb-15">
            <input type="text" class="input input-text" placeholder="Street Address" />
          </div>
          <div class="col col-100 sm:col-33 mb-15">
            <div class="input-required">
              <input type="text" class="input input-text" placeholder="Postal Code" />
            </div>
          </div>
          <div class="col col-50 sm:col-33 mb-15">
            <input type="text" class="input input-text" placeholder="City" />
          </div>
          <div class="col col-50 sm:col-33 mb-15">
            <input type="text" class="input input-text" placeholder="State" />
          </div>
          <div class="col col-100">
            <div class="input-required">
              <div class="input-select-container">
                <select class="input input-select">
                  <option class="input-option-placeholder">Country</option>
                  <option>United States of America</option>
                  <option>France</option>
                  <option>Germany</option>
                  <option>Austria</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-container mb-20">
          <div class="col">
            <label class="label">Tax Information</label>
            <input type="text" class="input input-text" placeholder="VAT Number" />
          </div>
        </div>
        <div class="col-container mb-15 sm:mb-0">
          <div class="col">
            <label class="label">Additional Invoice Information</label>
            <p class="label-note">This information will appear on each invoice. Don't include any confidential financial information.</p>
            <input type="text" class="input input-text" placeholder="e.g. Invoice notes, accounts payable info, additional address info, etc..." />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-ctas">
      <div class="col-container-nowrap">
        <div class="col col-100">
          <button class="btn btn-primary btn-sm sm:btn-md" modal-close>
            Save
            <span class="hidden sm:inline">&amp; Close</span>
          </button>
          <button class="btn btn-secondary btn-sm sm:btn-md ml-5 sm:ml-10" modal-close>Cancel</button>
        </div>
        <div class="col align-right">
          <span class="btn-sm sm:btn-md white-space-nowrap p-0">
            <svg class="icon icon-lock green-dark center-obj mr-5" viewBox="0 0 12 14" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#lock"></use></svg>
            <span class="text-sm text-lighter medium">Secure Server</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-c3373ace7156c429085b39536378d139c45118d95f6f8ebb40d1141d7bb4d03b.js" integrity="sha256-wzc6znFWxCkIWzlTY3jROcRRGNlfb467QNEUHXu00Ds=" crossorigin="anonymous"></script>
  </body>
</html>
