<html lang="en" class="env-production components-modals-example-downgrade">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Modal Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-fdcd4c595ce2dcc5c1711b058b69867c64f3bc47518f55eecf6a055a734bf3d1.css" media="screen">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Modal Example</h1>



<div class="modal-container" modal="example-small">
  <div class="modal modal-sm modal-billing" role="dialog">
    <div class="modal-content">
      <h1 class="modal-title text-lg text-x1-xl">Codeship Basic Downgrade</h1>
      <p class="text-light margin-bottom-md">
        Our mission is to ensure that Codeship enables all users to be successful with their projects. The best way to do this is through continuous feedback. Before we process your request, please let us know why you're canceling your current Codeship Basic plan.
      </p>
      <form>
        <ul class="input-list">
          
            <li class="input-item">
              <input id="radio-1" name="radio-name" type="radio" class="input input-radio" checked />
              <label for="radio-1" class="input-label">I'd like to continue using Codeship on the free plan.</label>
            </li>
          
            <li class="input-item">
              <input id="radio-2" name="radio-name" type="radio" class="input input-radio"  />
              <label for="radio-2" class="input-label">I will no longer be using Codeship.</label>
            </li>
          
        </ul>
      </form>
    </div>
    <div class="modal-ctas">
      <a href="/shipyard/components/modals/example-survey" class="btn btn-primary btn-sm btn-x1-md margin-right-xxs margin-right-x1-xs" modal-close>Continue</a>
      <button class="btn btn-secondary btn-sm btn-x1-md" modal-close>Cancel</button>
    </div>
  </div>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-5ab9446545f2cb68cfd0d19be4702200d8390ba876c5de7a929c93f05a68b866.js"></script>
  </body>
</html>
