<html lang="en" class="env-production components-modals-example-survey">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Modal Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/fonts-5881104bf887626744d095b512790afa3b35ba291c38c13be696ff3a6d845c35b61e41b93374d398f9197fbdd80538cbde1a63b377b8fbb8b849595bd37c0f23.css" integrity="sha512-WIEQS/iHYmdE0JW1EnkK+js1uikcOME75pb/Om2EXDW2HkG5M3TTmPkZf73YBTjL3hpjs3e4+7i4SVlb03wPIw==" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/syntax-635739a3d982aae3e67fbe283045d9b9ed39cf2e4cbe23f79389c04509e42d86832799d3134333d214d5b5c23d991d66ba7927c3fdf875573a3f8034c433c5e4.css" integrity="sha512-Y1c5o9mCquPmf74oMEXZue05zy5MviP3k4nARQnkLYaDJ5nTE0Mz0hTVtcI9mR1munknw/34dVc6P4A0xDPF5A==" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/application-c0ab3b9dce4a9a8126f4d31bc7482e5c775f33ce8e0065aeaf1b59ef69f04f810fda7bc23dc5b87b2d1a9316d49fe67dcfa4dfecd00f6ef6fdfbdcb356d5b861.css" integrity="sha512-wKs7nc5KmoEm9NMbx0guXHdfM86OAGWurxtZ72nwT4EP2nvCPcW4ey0akxbUn+Z9z6Tf7NAPbvb9+9yzVtW4YQ==" crossorigin="anonymous">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Modal Example</h1>



<div class="modal-container z-200" modal="example-small">
  <div class="modal modal-sm modal-billing" role="dialog">
    <div class="alert alert-success mb-0 rounded-top medium text-sm">
      We'd like to offer you
      <span class="modal-downgrade-coupon code-inline bold"><span class="modal-downgrade-tag bg-green-dark mr-0 rounded-left"><svg class="icon icon-tag center-obj modal-downgrade-tag-icon" viewBox="0 0 14 14" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#tag"></use></svg></span><span class="modal-downgrade-coupon-txt">50% OFF</span></span>
      one month if you decide to stay.
      <button class="alert-cta btn btn-cta btn-sm" modal-close>Apply Discount</button>
    </div>
    <div class="modal-content rounded-0">
      <div class="modal-title">
        <h1 class="text-lg sm:text-xl">Codeship Basic Downgrade</h1>
      </div>
      <p class="text-light mb-20">
        We'd appreciate it if you would take a moment to share your thoughts
        and experience on why Codeship wasn't a good fit for your team.
      </p>
      <form>
        <ul class="input-list">
          
            <li class="input-item">
              <input id="checkbox-1" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-1" class="input-label">We're happy with Codeship, but we don't need it anymore.</label>
            </li>
          
            <li class="input-item">
              <input id="checkbox-2" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-2" class="input-label">We've chosen another CI/CD provider.</label>
            </li>
          
            <li class="input-item">
              <input id="checkbox-3" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-3" class="input-label">Codeship is too expensive for our needs.</label>
            </li>
          
            <li class="input-item">
              <input id="checkbox-4" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-4" class="input-label">Codeship is missing a feature that we needed.</label>
            </li>
          
            <li class="input-item">
              <input id="checkbox-5" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-5" class="input-label">We're unsatisfied with our experience.</label>
            </li>
          
        </ul>
        <div class="input-group">
          <label class="label">Please provide additional details:</label>
          <textarea class="input input-text input-lg" placeholder="How could we have made your experience better?"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-ctas">
      <button class="btn btn-caution btn-sm sm:btn-md mr-5 sm:mr-10" modal-close>
        <span class="hidden sm:inline">Confirm</span> Downgrade
      </button>
      <button class="btn btn-cta btn-sm sm:btn-md mr-5 sm:mr-10" modal-close>Apply Discount</button>
      <button class="btn btn-secondary btn-sm sm:btn-md" modal-close>Cancel</button>
    </div>
  </div>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-e3dde962b2e27e10cfeaa6835d79d46c979070d35f32e705c56f3349cb02623a2e0b94e2245a09cd5719c873d74bee4d3173ddf05190c9e12ef59789bae112e2.js" integrity="sha512-493pYrLifhDP6qaDXXnUbJeQcNNfMucFxW8zScsCYjouC5TiJFoJzVcZyHPXS+5NMXPd8FGQyeEu9ZeJuuES4g==" crossorigin="anonymous"></script>
  </body>
</html>
