<html lang="en" class="env-production components-modals-example-survey">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Modal Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/fonts-741e0a584d1ddf78d74a6515dd13539beed52995bb606252513e75acec1139a5.css" integrity="sha256-dB4KWE0d33jXSmUV3RNTm+7VKZW7YGJSUT51rOwROaU=" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/syntax-17391133ecf77cd03b889aa97e37910e5bd85faf7a72b7aee9c9b5b27d167cc3.css" integrity="sha256-FzkRM+z3fNA7iJqpfjeRDlvYX696creu6cm1sn0WfMM=" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/application-f67ab4c332b39f29f55be565929192777091f8f77f22f8e59860e27dcfe3d6a4.css" integrity="sha256-9nq0wzKznyn1W+VlkpGSd3CR+Pd/IvjlmGDifc/j1qQ=" crossorigin="anonymous">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Modal Example</h1>



<div class="modal-container z-200" modal="example-small">
  <div class="modal modal-sm modal-billing" role="dialog">
    <div class="alert alert-success mb-0 rounded-top medium text-sm">
      We'd like to offer you
      <span class="modal-downgrade-coupon code-inline bold"><span class="modal-downgrade-tag bg-green-dark mr-0 rounded-left"><svg class="icon icon-tag center-obj modal-downgrade-tag-icon" viewBox="0 0 14 14" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#tag"></use></svg></span><span class="modal-downgrade-coupon-txt">50% OFF</span></span>
      one month if you decide to stay.
      <button class="alert-cta btn btn-cta btn-sm" modal-close>Apply Discount</button>
    </div>
    <div class="modal-content rounded-0">
      <div class="modal-title">
        <h1 class="text-lg sm:text-xl">Codeship Basic Downgrade</h1>
      </div>
      <p class="text-light mb-20">
        We'd appreciate it if you would take a moment to share your thoughts
        and experience on why Codeship wasn't a good fit for your team.
      </p>
      <form>
        <ul class="input-list">
          
            <li class="input-item">
              <input id="checkbox-1" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-1" class="input-label">We're happy with Codeship, but we don't need it anymore.</label>
            </li>
          
            <li class="input-item">
              <input id="checkbox-2" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-2" class="input-label">We've chosen another CI/CD provider.</label>
            </li>
          
            <li class="input-item">
              <input id="checkbox-3" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-3" class="input-label">Codeship is too expensive for our needs.</label>
            </li>
          
            <li class="input-item">
              <input id="checkbox-4" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-4" class="input-label">Codeship is missing a feature that we needed.</label>
            </li>
          
            <li class="input-item">
              <input id="checkbox-5" name="checkbox-name" type="checkbox" class="input input-checkbox" />
              <label for="checkbox-5" class="input-label">We're unsatisfied with our experience.</label>
            </li>
          
        </ul>
        <div class="input-group">
          <label class="label">Please provide additional details:</label>
          <textarea class="input input-text input-lg" placeholder="How could we have made your experience better?"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-ctas">
      <button class="btn btn-caution btn-sm sm:btn-md mr-5 sm:mr-10" modal-close>
        <span class="hidden sm:inline">Confirm</span> Downgrade
      </button>
      <button class="btn btn-cta btn-sm sm:btn-md mr-5 sm:mr-10" modal-close>Apply Discount</button>
      <button class="btn btn-secondary btn-sm sm:btn-md" modal-close>Cancel</button>
    </div>
  </div>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script src="/shipyard/assets/application-4d62f28dc3c016018b6d1fb7f41ccd4b50f61685bc839e0567d7812cdfaea434.js" integrity="sha256-TWLyjcPAFgGLbR+39BzNS1D2FoW8g54FZ9eBLN+upDQ=" crossorigin="anonymous" type="text/javascript"></script>
  </body>
</html>
