<html lang="en" class="env-production components-modals-index">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Modals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" media="screen" rel="preload" async>
    <link type="text/css" rel="stylesheet" href="/shipyard/assets/application-f33b09c01d395abffafab53a674bbf9d1df94d4192336e20ee7d7805c10ea786.css" media="screen">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Home</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Modals</h1>

<p class="text-light text-lg margin-top-sm">Modals are triggered by applying the following attribute to any button or link (e.g. <code class="language-html highlighter-rouge">modal-trigger="login"</code>).</p>

<hr />

<div class="col-container-x1-nowrap">
  <div class="col col-100">
    <h3 class="col-100">Building Modals</h3>
    <p class="text-light margin-bottom-sm">Useful when you need to draw attention to information that requires additional action.</p>
  </div>
  <div class="col">
    <button class="btn btn-sm btn-x1-md btn-secondary white-space-nowrap" modal-trigger="example">Demo Modal</button>
  </div>
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal"</span> <span class="na">role=</span><span class="s">"dialog"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-content"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-title"</span><span class="nt">&gt;</span>
        <span class="c">&lt;!-- Modal Title --&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="c">&lt;!-- Modal Content --&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-ctas"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Save<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary"</span><span class="nt">&gt;</span>Cancel<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div></div>

<div class="modal-container display-none" modal="example">
  <div class="modal" role="dialog">
    <div class="modal-content">
      <div class="modal-title">
        <h1 class="text-lg text-x1-xl">Billing Info</h1>
      </div>
      <form>
        <div class="col-container margin-bottom-md">
          <div class="col">
            <label class="label">First Name</label>
            <div class="input-required">
              <input type="text" class="input input-text input-full" />
            </div>
          </div>
          <div class="col">
            <label class="label">Last Name</label>
            <div class="input-required">
              <input type="text" class="input input-text input-full" />
            </div>
          </div>
        </div>
        <div class="col-container margin-bottom-md">
          <div class="col col-100 col-x1-50 margin-bottom-sm margin-bottom-x1-none">
            <label class="label">Email Address</label>
            <input type="text" class="input input-text input-full" />
          </div>
          <div class="col col-100 col-x1-50">
            <label class="label">Phone Number</label>
            <div class="input-required">
              <input type="text" class="input input-text input-full" />
            </div>
          </div>
        </div>
        <div class="col-container margin-bottom-md">
          <div class="col col-100 margin-bottom-sm">
            <label class="label">Billing Address</label>
            <input type="text" class="input input-text input-full" placeholder="Company Name" />
          </div>
          <div class="col col-100 margin-bottom-sm">
            <input type="text" class="input input-text input-full" placeholder="Street Address" />
          </div>
          <div class="col col-100 col-x1-33 margin-bottom-sm">
            <div class="input-required">
              <input type="text" class="input input-text input-full" placeholder="Postal Code" />
            </div>
          </div>
          <div class="col col-50 col-x1-33 margin-bottom-sm">
            <input type="text" class="input input-text input-full" placeholder="City" />
          </div>
          <div class="col col-50 col-x1-33 margin-bottom-sm">
            <input type="text" class="input input-text input-full" placeholder="State" />
          </div>
          <div class="col col-100">
            <div class="input-required">
              <div class="input-select-container">
                <select class="input input-select">
                  <option class="input-option-placeholder">Country</option>
                  <option>United States of America</option>
                  <option>France</option>
                  <option>Germany</option>
                  <option>Austria</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-container margin-bottom-md">
          <div class="col">
            <label class="label">Tax Information</label>
            <input type="text" class="input input-text input-full" placeholder="VAT Number" />
          </div>
        </div>
        <div class="col-container margin-bottom-sm margin-bottom-x1-none">
          <div class="col">
            <label class="label">Additional Invoice Information</label>
            <p class="label-note">This information will appear on each invoice. Don't include any confidential financial information.</p>
            <input type="text" class="input input-text input-full" placeholder="e.g. Invoice notes, accounts payable info, additional address info, etc..." />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-ctas">
      <div class="col-container-nowrap">
        <div class="col col-100">
          <button class="btn btn-primary btn-sm btn-x1-md" modal-close="">
            Save
            <span class="display-none display-x1-inline">&amp; Close</span>
          </button>
          <button class="btn btn-secondary btn-sm btn-x1-md margin-left-xxs margin-left-x1-xs" modal-close="">Cancel</button>
        </div>
        <div class="col align-right">
          <span class="btn-sm btn-x1-md white-space-nowrap padding-none">
            <svg class="icon icon-lock green-dark icon-center margin-right-xxs" viewBox="0 0 12 14" preserveAspectRatio="xMinYMin meet"><use xlink:href="/shipyard/assets/icons.svg#lock"></use></svg>
            <span class="text-sm text-lighter medium">Secure Server</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-a29e09541cf2fb1aadbf1e10b34ee7725fed4a697fb2cf4e0116d6c55884da81.js"></script>
  </body>
</html>
