.body
  background: $gray-lightest
  color: $gray-darker
  font-family: $font-family
  font-weight: $normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.link
  cursor: pointer
  text-decoration: none
  color: $blue
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease, box-shadow 300ms ease
  &:hover
    color: darken($blue, 10%)
    text-decoration: underline

.list
  list-style: circle
  &, &-disc
    color: $gray-light
    margin: 20px 0 0 18px
  &-disc
    list-style: disc
  li
    margin: 10px 0

img
  display: block

button
  font: inherit
  background: none
  border: none
  cursor: pointer
